<extend name="./base" />
<block name="title"><title>视频咨询分配管理 - 视频咨询管理 - 元认知干预网站管理后台系统</title></block>
<block name="content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#">首页</a>
            </li>
            <li class="active">视频咨询管理</li>
        </ul><!-- .breadcrumb -->
    </div>

    <div class="page-content">
        <div class="page-header">
            <h1>
                视频咨询分配管理
                <small>
                    <i class="icon-double-angle-right"></i>
                    列表(所有已付款订单)
                </small>
            </h1>
        </div><!-- /.page-header -->
        <div class="row">
            <div class="col-xs-12">
                <!--<h3 class="header smaller lighter blue">jQuery dataTables</h3>-->
                <!--<div class="table-header">-->
                    <!--Results for "Latest Registered Domains"-->
                <!--</div>-->

                <div class="table-responsive">
                    <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="center">
                                序号
                            </th>
                            <th>咨询编号</th>
                            <th>联系人</th>
                            <th>联系电话</th>
                            <th>标题</th>
                            <th>申请时间</th>
                            <th>咨询进度</th>
                            <th>咨询分配</th>
                            <th>操作</th>
                        </tr>
                        </thead>

                        <tbody>
                        <volist name="info" id="vo">
                            <tr>
                                <td class="center">{$i}</td>
                                <td style="width: 150px;">{$vo.order_number}</td>
                                <td>{$vo.lx_name}</td>
                                <td>{$vo.lx_phone}</td>
                                <td style="max-width: 300px;">{$vo.title}</td>
                                <td>{$vo.create_time|substr=0,10}</td>
                                <td>
                                    {$vo.times}
                                </td>

                                <td>
                                    <if condition="$vo.release_statu eq 0 ">
                                        未分配
                                        <else />
                                        <span class="green">已分配</span>
                                    </if>
                                </td>
                                <td>
                                    <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                        <a href="__MODULE__/Consult/allotShow/pa/{$vo.pk}" data-id="{$vo.pk}">详细</a>
                                        <if condition="$vo.release_statu eq 0 ">
                                            <a href="__MODULE__/Consult/allotEdit/pa/{$vo.pk}" data-id="{$vo.pk}">分配</a>
                                            <else />
                                            <a href="__MODULE__/Consult/allotModi/pa/{$vo.pk}" data-id="{$vo.pk}">修改分配</a>
                                        </if>
                                    </div>

                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</block>

<block name="public">
    <!-- page specific plugin scripts -->
    <script src="{$Think.const.ADMIN_URL}/js/jquery.dataTables.min.js"></script>
    <script src="{$Think.const.ADMIN_URL}/js/jquery.dataTables.bootstrap.js"></script>
    <script src="{$Think.const.ADMIN_URL}/js/bootbox.min.js"></script>
    <!-- inline scripts related to this page -->
    <script src="{$Think.const.ADMIN_URL}/js/admin.js"></script>
    <script type="text/javascript">
        jQuery(function($) {
            var oTable1 = $('#sample-table-2').dataTable( {
                "aoColumns": [
                    { "bSortable": false },
                    null, null,null, null, null,null,null,
                    { "bSortable": false }
                ] ,
                "oLanguage" : {
                    "sLengthMenu": "每页显示 _MENU_ 条记录",
                    "sZeroRecords": "抱歉， 没有找到",
                    "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                    "sInfoEmpty": "没有数据",
                    "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                    "sZeroRecords": "没有检索到数据",
                    "sSearch": "查询:",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "前一页",
                        "sNext": "后一页",
                        "sLast": "尾页"
                    }

                }
            } );
        var myTable =
            $('#dynamic-table')
                //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
                .DataTable( {
                    bAutoWidth: false,
                    "aoColumns": [
                        { "bSortable": false },
                        null, null,null, null, null,
                        { "bSortable": false }
                    ],
                    "bLengthChange": false,
                    "searching" : false,
                    "aaSorting": [],

                    select: {
                        style: 'multi'
                    },
                    "oLanguage" : {
                        "sLengthMenu": "每页显示 _MENU_ 条记录",
                        "sZeroRecords": "抱歉， 没有找到",
                        "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                        "sInfoEmpty": "没有数据",
                        "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                        "sZeroRecords": "没有检索到数据",
                        "sSearch": "名称:",
                        "oPaginate": {
                            "sFirst": "首页",
                            "sPrevious": "前一页",
                            "sNext": "后一页",
                            "sLast": "尾页"
                        }

                    }
                } );




            $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
            function tooltip_placement(context, source) {
                var $source = $(source);
                var $parent = $source.closest('table')
                var off1 = $parent.offset();
                var w1 = $parent.width();

                var off2 = $source.offset();
                var w2 = $source.width();

                if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
                return 'left';
            }


        
        })
    </script>
</block>