<extend name="./base" />
<block name="title">
    <title>首页 - 元认知心理干预技术网</title>
    <meta name="keywords" content="元认知,元认知干预，元认知心理，元认知心理干预，元认知心理干预技术，金洪源"/>
    <meta name="description" content=""/>
</block>
<block name="content">
    <div class="container  i-container">
        <div class="sliderContainer fullWidth clearfix">
            <div id="full-width-slider" class="royalSlider heroSlider rsMinW">
                <volist name="banner" id="vo">
                    <div class="rsContent">
                        <a href="{$vo.link}"><img class="rsImg" src="{$Think.const.SITE_URL}/CDN/uploaded/flash-images/{$vo.url}" alt="" /></a>
                        <div class="infoBlock rsABlock infoBlockLeftBlack" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
                            <h4>{$vo.title}</h4>
                            <p>{$vo.str}</p>
                        </div>
                    </div>
                </volist>
            </div>
        </div>
    </div>

    <div class="container i-container">
        <div class="row">
            <div class="col-sm-3">
                <div class="box">
                    <div class="Mtop">
                        <span><a href="__MODULE__/Pic/lists">更多&gt;&gt;</a></span>
                        <h2><img src="{$Think.const.WEB_URL}/images/ico_01.gif" class="ico"/> 图片故事</h2>
                    </div>
                    <div class="Mbody">
                        <div class="photoStory">
                            <div>
                                <foreach name="story" item="vo">
                                    <a href="__MODULE__/Pic/show/u/{$vo.pk}"><img src="{$Think.const.SITE_URL}/CDN/uploaded/story/{$vo.thumbnail}" /></a>
                                    <span>{$vo.title}</span>
                                </foreach>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="box">
                    <div class="Mtop">
                        <span><a href="__MODULE__/System/report">更多&gt;&gt;</a></span>
                        <h2><img src="{$Think.const.WEB_URL}/images/ico_01.gif" class="ico" style="left:10px;"/> 知名媒体专题</h2>
                        <p></p>
                    </div>
                    <div class="Mbody">
                        <ul class="list">
                            <volist name="media" id="vo">
                                <if condition="$vo.title_bold eq 1">
                                    <li><a href="{$vo.url}" style="color: {$vo.title_color};font-weight: bold;"><nobr>{$vo.name}</nobr></a></li>
                                    <else />
                                    <li><a href="{$vo.url}" style="color: {$vo.title_color};"><nobr>{$vo.name}</nobr></a></li>
                                </if>
                            </volist>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box">
                    <div class="Mtop">
                        <span><a href="__MODULE__/Article/article/cate/3">更多&gt;&gt;</a></span>
                        <h2><img src="{$Think.const.WEB_URL}/images/ico_01.gif" class="ico" style="left:10px;"/> 服务指南</h2>
                    </div>
                    <div class="Mbody">
                        <ul class="list">
                            <volist name="fwzn" id="vo">
                                <if condition="$vo.is_title_bold eq 1">
                                    <li><a href="__MODULE__/Article/show/u/{$vo.pk}" style="color: {$vo.title_color};font-weight: bold;"><nobr>{$vo.title}</nobr></a></li>
                                    <else />
                                    <li><a href="__MODULE__/Article/show/u/{$vo.pk}" style="color: {$vo.title_color};"><nobr>{$vo.title}</nobr></a></li>
                                </if>
                            </volist>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container i-container">
        <div class="row">
            <div class="col-sm-3">
                <div class="box">
                    <div class="Mtop">
                        <span><a href="__MODULE__/Article/article/cate/4">更多&gt;&gt;</a></span>
                        <h2><img src="{$Think.const.WEB_URL}/images/ico_01.gif" class="ico" style="left:10px;"/> 研修生园地</h2>
                    </div>
                    <div class="Mbody">
                        <ul class="list">
                            <volist name="researcher" id="vo">
                                <if condition="$vo.is_title_bold eq 1">
                                    <li><a href="__MODULE__/Article/show/u/{$vo.pk}" style="color: {$vo.title_color};font-weight: bold;"><nobr>{$vo.title}</nobr></a></li>
                                    <else />
                                    <li><a href="__MODULE__/Article/show/u/{$vo.pk}" style="color: {$vo.title_color};"><nobr>{$vo.title}</nobr></a></li>
                                </if>
                            </volist>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="box">
                    <div class="Mtop">
                        <span><a href="#">更多&gt;&gt;</a></span>
                        <h2><img src="{$Think.const.WEB_URL}/images/ico_05.gif" class="ico" style="left:10px;"/> 技术团队</h2>
                        <p></p>
                    </div>
                    <div class="Mbody">
                        <div class="team" id="demo">
                            <div id="indemo">
                                <div id="demo1">
                                    <ul>
                                        <volist name="tech_team" id="vo">
                                            <li>
                                                <a href="#"><img src="{$Think.const.SITE_URL}/CDN/uploaded/person/{$vo.thumbnail}" width="110" height="90" /></a>
                                                <a href="#">{$vo.photo_describe}</a>
                                            </li>
                                        </volist>
                                    </ul>
                                </div>
                                <div id="demo2"></div>
                            </div>
                        </div>
                        <script type="text/javascript" language="javascript" src="{$Think.const.WEB_URL}/js/scroll.js"></script>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box">
                    <div class="Mtop">
                        <span><a href="__MODULE__/Article/article/cate/23">更多&gt;&gt;</a></span>
                        <h2><img src="{$Think.const.WEB_URL}/images/ico_01.gif" class="ico" style="left:10px;"/> 技术之窗</h2>
                    </div>
                    <div class="Mbody">
                        <ul class="list">
                            <volist name="jszc" id="vo">
                                <if condition="$vo.is_title_bold eq 1">
                                    <li><a href="__MODULE__/Article/show/u/{$vo.pk}" style="color:{$vo.title_color};font-weight: bold;"><nobr>{$vo.title}</nobr></a></li>
                                    <else />
                                    <li><a href="__MODULE__/Article/show/u/{$vo.pk}" style="color:{$vo.title_color};"><nobr>{$vo.title}</nobr></a></li>
                                </if>
                            </volist>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container i-container">
        <div class="home-ad">
            <a href="{$adbar[link]}" title="{$adbar[ad_name]}" target="_blank"><img src="{$Think.const.SITE_URL}/CDN/uploaded/ads/{$adbar[ad_path]}" alt="{$adbar[ad_name]}" style=" margin-bottom:8px;" /></a>
        </div>
    </div>

    <div class="container i-container">
        <div class="row">
            <div class="col-sm-3">
                <div class="box qzone">
                    <div class="Mtop">
                        <span><a href="__MODULE__/Article/article/cate/14">更多&gt;&gt;</a></span>
                        <h2><img src="{$Think.const.WEB_URL}/images/ico_01.gif" class="ico" style="left:10px;"/> 专业委员会</h2>
                    </div>
                    <div class="Mbody">
                        <ul class="list">
                            <volist name="Committee" id="vo">
                                <if condition="$vo.is_title_bold eq 1">
                                    <li><a href="__MODULE__/Article/show/u/{$vo.pk}" style="color:{$vo.title_color};font-weight: bold;"><nobr>{$vo.title}</nobr></a></li>
                                    <else />
                                    <li><a href="__MODULE__/Article/show/u/{$vo.pk}" style="color:{$vo.title_color};"><nobr>{$vo.title}</nobr></a></li>
                                </if>
                            </volist>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="groupWarp">
                    <div class="groupBox" >
                        <div class="Gbody">
                            <div class="Gmenu">
                                <ol>
                                    <li class="checked">学生问题</li>
                                    <li>学生学习</li>
                                    <li>考生心理</li>
                                </ol>
                            </div>
                            <ul class="gitem gitem0">
                                <volist name="xswt" id="vo">
                                    <if condition="$vo.is_title_bold eq 1">
                                        <li><a href="__MODULE__/Article/show/u/{$vo.pk}" style="color: {$vo.title_color};font-weight: bold;"><nobr>{$vo.title}</nobr></a></li>
                                        <else />
                                        <li><a href="__MODULE__/Article/show/u/{$vo.pk}" style="color: {$vo.title_color};"><nobr>{$vo.title}</nobr></a></li>
                                    </if>
                                </volist>
                            </ul>
                            <em class="gitem gitem0"><a href="__MODULE__/Article/article/cate/11">更多>></a></em>
                            <ul class="gitem gitem1" style="display: none">
                                <volist name="xsxx" id="vo">
                                    <if condition="$vo.is_title_bold eq 1">
                                        <li><a href="__MODULE__/Article/show/u/{$vo.pk}" style="color: {$vo.title_color};font-weight: bold;"><nobr>{$vo.title}</nobr></a></li>
                                        <else />
                                        <li><a href="__MODULE__/Article/show/u/{$vo.pk}" style="color: {$vo.title_color};"><nobr>{$vo.title}</nobr></a></li>
                                    </if>
                                </volist>
                            </ul>
                            <em class="gitem gitem1" style="display: none"><a href="__MODULE__/Article/article/cate/6">更多>></a></em>
                            <ul class="gitem gitem2" style="display: none">
                                <volist name="ksxl" id="vo">
                                    <if condition="$vo.is_title_bold eq 1">
                                        <li><a href="__MODULE__/Article/show/u/{$vo.pk}" style="color: {$vo.title_color};font-weight: bold;"><nobr>{$vo.title}</nobr></a></li>
                                        <else />
                                        <li><a href="__MODULE__/Article/show/u/{$vo.pk}" style="color: {$vo.title_color};"><nobr>{$vo.title}</nobr></a></li>
                                    </if>
                                </volist>
                            </ul>
                            <em class="gitem gitem2" style="display: none"><a href="__MODULE__/Article/article/cate/8">更多>></a></em>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="container i-container">
        <div class="treewarp">
            <div class="row">

                <div class="col-sm-4">
                    <div class="TreeList">
                        <h5><em><a href="__MODULE__/Article/article/cate/13">更多>></a></em>心身疾病治疗</h5>
                        <dl>
                            <volist name="modelImgs" id="vo">
                                <if condition="$vo.code eq IMG1">
                                    <dt><img src="{$Think.const.SITE_URL}/CDN/uploaded/ads/{$vo.img_path}" width="80" height="97" /></dt>
                                </if>
                            </volist>
                            <volist name="xsjbzl" id="vo">
                                <if condition="$vo.is_title_bold eq 1">
                                    <dd><a href="__MODULE__/Article/show/u/{$vo.pk}" style="color:{$vo.title_color};font-weight: bold;"><nobr>{$vo.title}</nobr></a></dd>
                                    <else />
                                    <dd><a href="__MODULE__/Article/show/u/{$vo.pk}" style="color:{$vo.title_color};"><nobr>{$vo.title}</nobr></a></dd>
                                </if>
                            </volist>

                        </dl>
                    </div>
                </div>
                <div class="line wp33"></div>
                <div class="col-sm-4">
                    <div class="TreeList">
                        <h5><em><a href="__MODULE__/Article/article/cate/7">更多>></a></em>家庭教育</h5>
                        <dl>
                            <volist name="modelImgs" id="vo">
                                <if condition="$vo.code eq IMG2">
                                    <dt><img src="{$Think.const.SITE_URL}/CDN/uploaded/ads/{$vo.img_path}" width="80" height="97" /></dt>
                                </if>
                            </volist>
                            <volist name="jtjy" id="vo">
                                <if condition="$vo.is_title_bold eq 1">
                                    <dd><a href="__MODULE__/Article/show/u/{$vo.pk}" style="color:{$vo.title_color};font-weight: bold;"><nobr>{$vo.title}</nobr></a></dd>
                                    <else />
                                    <dd><a href="__MODULE__/Article/show/u/{$vo.pk}" style="color:{$vo.title_color};"><nobr>{$vo.title}</nobr></a></dd>
                                </if>
                            </volist>
                        </dl>
                    </div>
                </div>
                <div class="line wp66"></div>
                <div class="col-sm-4">
                    <div class="TreeList">
                        <h5><em><a href="__MODULE__/Article/article/cate/17">更多>></a></em>专家答疑</h5>
                        <dl>
                            <volist name="modelImgs" id="vo">
                                <if condition="$vo.code eq IMG3">
                                    <dt><img src="{$Think.const.SITE_URL}/CDN/uploaded/ads/{$vo.img_path}" width="80" height="97" /></dt>
                                </if>
                            </volist>
                            <volist name="zjdy" id="vo">
                                <if condition="$vo.is_title_bold eq 1">
                                    <dd><a href="__MODULE__/Article/show/u/{$vo.pk}" style="color:{$vo.title_color};font-weight: bold;"><nobr>{$vo.title}</nobr></a></dd>
                                    <else />
                                    <dd><a href="__MODULE__/Article/show/u/{$vo.pk}" style="color:{$vo.title_color};"><nobr>{$vo.title}</nobr></a></dd>
                                </if>
                            </volist>
                        </dl>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="container i-container">
        <div class="row">
            <div class="col-sm-3">
                <div class="box qzone">
                    <div class="Mtop">
                        <span><a href="__MODULE__/Article/article/cate/1">更多&gt;&gt;</a></span>
                        <h2><img src="{$Think.const.WEB_URL}/images/ico_01.gif" class="ico" style="left:10px;"/> 学校教育</h2>
                    </div>
                    <div class="Mbody">
                        <ul class="list">
                            <volist name="xxjy" id="vo">
                                <if condition="$vo.is_title_bold eq 1">
                                    <li><a href="__MODULE__/Article/show/u/{$vo.pk}" style="color:{$vo.title_color};font-weight: bold;"><nobr>{$vo.title}</nobr></a></li>
                                    <else />
                                    <li><a href="__MODULE__/Article/show/u/{$vo.pk}" style="color:{$vo.title_color};"><nobr>{$vo.title}</nobr></a></li>
                                </if>
                            </volist>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="groupWarp">
                    <div class="groupBox" >
                        <div class="Gbody">
                            <div class="Gmenu">
                                <ol>
                                    <li class="checked">技术背景</li>
                                    <li>科研园地</li>
                                    <li>技术档案</li>
                                </ol>
                            </div>
                            <ul class="gitem gitem0">
                                <volist name="jsbj" id="vo">
                                    <if condition="$vo.is_title_bold eq 1">
                                        <li><a href="__MODULE__/Article/show/u/{$vo.pk}" style="color: {$vo.title_color};font-weight: bold;"><nobr>{$vo.title}</nobr></a></li>
                                        <else />
                                        <li><a href="__MODULE__/Article/show/u/{$vo.pk}" style="color: {$vo.title_color};"><nobr>{$vo.title}</nobr></a></li>
                                    </if>
                                </volist>
                            </ul>
                            <em class="gitem gitem0"><a href="__MODULE__/Article/article/cate/4">更多>></a></em>
                            <ul class="gitem gitem1" style="display: none">
                                <volist name="kyyd" id="vo">
                                    <if condition="$vo.is_title_bold eq 1">
                                        <li><a href="__MODULE__/Article/show/u/{$vo.pk}" style="color: {$vo.title_color};font-weight: bold;"><nobr>{$vo.title}</nobr></a></li>
                                        <else />
                                        <li><a href="__MODULE__/Article/show/u/{$vo.pk}" style="color: {$vo.title_color};"><nobr>{$vo.title}</nobr></a></li>
                                    </if>
                                </volist>
                            </ul>
                            <em class="gitem gitem1" style="display: none"><a href="__MODULE__/Article/article/cate/10">更多>></a></em>
                            <ul class="gitem gitem2" style="display: none">
                                <volist name="jsda" id="vo">
                                    <if condition="$vo.is_title_bold eq 1">
                                        <li><a href="__MODULE__/Article/show/u/{$vo.pk}" style="color: {$vo.title_color};font-weight: bold;"><nobr>{$vo.title}</nobr></a></li>
                                        <else />
                                        <li><a href="__MODULE__/Article/show/u/{$vo.pk}" style="color: {$vo.title_color};"><nobr>{$vo.title}</nobr></a></li>
                                    </if>
                                </volist>
                            </ul>
                            <em class="gitem gitem2" style="display: none"><a href="__MODULE__/Article/article/cate/16">更多>></a></em>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</block>

<block name="public">

    <!-- inline scripts related to this page -->
    <script>
        jQuery(document).ready(function($) {
            $('#full-width-slider').royalSlider({
                arrowsNav: true,
                arrowsNavHideOnTouch: true,
                loop: true,
                controlsInside: false,
                imageScaleMode: 'fill',
                arrowsNavAutoHide: false,
                autoScaleSlider: true,
                controlNavigation: 'bullets',
                thumbsFitInViewport: false,
                navigateByClick: true,
                startSlideId: 0,
                autoPlay: {
                    // autoplay options go gere
                    enabled: true,
                    pauseOnHover: true,
                    delay: 4000
                },

                transitionType:'move',
//            globalCaption: true,
                transitionSpeed:1000
            });
        });
        $(".Gmenu li").hover(function(){
            //alert($(this).index());
            $(this).parents(".Gbody").find(".gitem").hide();
            $(this).parents(".Gbody").find(".gitem"+$(this).index()).show();
            //checked
            $(this).parent().find("li").removeClass();
            $(this).addClass("checked");
        });
    </script>
</block>
