<extend name="./base" />
<block name="title">
    <title>首页 - 元认知心理干预技术网</title>
    <meta name="keywords" content="元认知,元认知干预，元认知心理，元认知心理干预，元认知心理干预技术，金洪源"/>
    <meta name="description" content=""/>
</block>
<block name="content">
    <div class="container  i-container">
        <div class="sliderContainer fullWidth clearfix">
            <div id="full-width-slider" class="royalSlider heroSlider rsMinW">
                <volist name="banner" id="vo">
                    <div class="rsContent">
                        <a href="{$vo.link}"><img class="rsImg" src="{$Think.const.SITE_URL}/CDN/uploaded/flash-images/{$vo.url}" alt="" /></a>
                        <div class="infoBlock rsABlock infoBlockLeftBlack" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
                            <h4>{$vo.title}</h4>
                            <p>{$vo.str}</p>
                        </div>
                    </div>
                </volist>

            </div>
        </div>
    </div>

    <div class="container i-container">
        <div class="row">
            <div class="col-sm-3">
                <div class="box">
                    <div class="Mtop">
                        <span><a href="#">更多&gt;&gt;</a></span>
                        <h2><img src="{$Think.const.WEB_URL}/images/ico_01.gif" class="ico"/> 图片故事</h2>
                    </div>
                    <div class="Mbody">
                        <div class="photoStory">
                            <div>
                                <foreach name="story" item="vo">
                                    <a href="__MODULE__/article/picture-story/p/{$vo.pk}"><img src="{$Think.const.SITE_URL}/CDN/uploaded/story/{$vo.thumbnail}" /></a>
                                    <span>{$vo.title}</span>
                                </foreach>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="box">
                    <div class="Mtop">
                        <span><a href="#">更多&gt;&gt;</a></span>
                        <h2><img src="{$Think.const.WEB_URL}/images/ico_01.gif" class="ico" style="left:10px;"/> 知名媒体专题</h2>
                        <p></p>
                    </div>
                    <div class="Mbody">
                        <ul class="list">
                            <li><a href="#"><nobr>护身符真的有用护身符真的有用：积极的心理暗示</nobr></a></li>
                            <li><a href="#"><nobr>人们对于心理咨询的三大误区</nobr></a></li>
                            <li><a href="#"><nobr>护身符真的有用护身符真的有用护身符真的有用：积理暗示</nobr></a></li>
                            <li><a href="#"><nobr>人们对于心理咨询的三大误区</nobr></a></li>
                            <li><a href="#"><nobr>护身符真的有用：积极的心理暗示</nobr></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box">
                    <div class="Mtop">
                        <span><a href="#">更多&gt;&gt;</a></span>
                        <h2><img src="{$Think.const.WEB_URL}/images/ico_01.gif" class="ico" style="left:10px;"/> 服务指南</h2>
                    </div>
                    <div class="Mbody">
                        <ul class="list">
                            <li><a href="#"><nobr>护身符真的有用护身符真的有用：积极的心理暗示</nobr></a></li>
                            <li><a href="#"><nobr>人们对于心理咨询的三大误区</nobr></a></li>
                            <li><a href="#"><nobr>护身符真的有用护身符真的有用护身符真的有用：积理暗示</nobr></a></li>
                            <li><a href="#"><nobr>人们对于心理咨询的三大误区</nobr></a></li>
                            <li><a href="#"><nobr>护身符真的有用：积极的心理暗示</nobr></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container i-container">
        <div class="row">
            <div class="col-sm-3">
                <div class="box">
                    <div class="Mtop">
                        <span><a href="#">更多&gt;&gt;</a></span>
                        <h2><img src="{$Think.const.WEB_URL}/images/ico_01.gif" class="ico" style="left:10px;"/> 技术背景</h2>
                    </div>
                    <div class="Mbody">

                        <ul class="list">
                            <li><a href="#"><nobr>护身符真的有用护身符真的有用：积极的心理暗示</nobr></a></li>
                            <li><a href="#"><nobr>人们对于心理咨询的三大误区</nobr></a></li>
                            <li><a href="#"><nobr>护身符真的有用护身符真的有用护身符真的有用：积理暗示</nobr></a></li>
                            <li><a href="#"><nobr>人们对于心理咨询的三大误区</nobr></a></li>
                            <li><a href="#"><nobr>护身符真的有用：积极的心理暗示</nobr></a></li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="box">
                    <div class="Mtop">
                        <span><a href="#">更多&gt;&gt;</a></span>
                        <h2><img src="{$Think.const.WEB_URL}/images/ico_01.gif" class="ico" style="left:10px;"/> 技术团队</h2>
                        <p></p>
                    </div>
                    <div class="Mbody">
                        <div class="team" id="demo">
                            <div id="indemo">
                                <div id="demo1">
                                    <ul>
                                        <li>
                                            <a href="#"><img src="{$Think.const.WEB_URL}/images/temp/team01.jpg" /></a>
                                            <a href="#">金洪源-技术研发者</a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="{$Think.const.WEB_URL}/images/temp/team02.jpg" /></a>
                                            <a href="#">2222-2222222</a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="{$Think.const.WEB_URL}/images/temp/team03.jpg" /></a>
                                            <a href="#">33333-33333</a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="{$Think.const.WEB_URL}/images/temp/team02.jpg" /></a>
                                            <a href="#">444-4444444</a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="{$Think.const.WEB_URL}/images/temp/team03.jpg" /></a>
                                            <a href="#">555-55555555</a>
                                        </li>
                                    </ul>
                                </div>
                                <div id="demo2"></div>
                            </div>
                        </div>
                        <script type="text/javascript" language="javascript" src="{$Think.const.WEB_URL}/js/scroll.js"></script>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box">
                    <div class="Mtop">
                        <span><a href="#">更多&gt;&gt;</a></span>
                        <h2><img src="{$Think.const.WEB_URL}/images/ico_01.gif" class="ico" style="left:10px;"/> 技术应用</h2>
                    </div>
                    <div class="Mbody">
                        <ul class="list">
                            <li><a href="#"><nobr>护身符真的有用护身符真的有用：积极的心理暗示</nobr></a></li>
                            <li><a href="#"><nobr>人们对于心理咨询的三大误区</nobr></a></li>
                            <li><a href="#"><nobr>护身符真的有用护身符真的有用护身符真的有用：积理暗示</nobr></a></li>
                            <li><a href="#"><nobr>人们对于心理咨询的三大误区</nobr></a></li>
                            <li><a href="#"><nobr>护身符真的有用：积极的心理暗示</nobr></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container i-container">
        <div class="home-ad">
            <a href="#"><img src="{$Think.const.WEB_URL}/images/temp/Ad.jpg" style=" margin-bottom:8px;" /></a>
        </div>
    </div>

    <div class="container i-container">
        <div class="row">
            <div class="col-sm-3">
                <div class="box qzone">
                    <div class="Mtop">
                        <span><a href="#">更多&gt;&gt;</a></span>
                        <h2><img src="{$Think.const.WEB_URL}/images/ico_01.gif" class="ico" style="left:10px;"/> 专业委员会</h2>
                    </div>
                    <div class="Mbody">
                        <ul class="list">
                            <li><a href="#"><nobr>护身符真的有用护身符真的有用：积极的心理暗示</nobr></a></li>
                            <li><a href="#"><nobr>人们对于心理咨询的三大误区</nobr></a></li>
                            <li><a href="#"><nobr>护身符真的有用护身符真的有用护身符真的有用：积理暗示</nobr></a></li>
                            <li><a href="#"><nobr>人们对于心理咨询的三大误区</nobr></a></li>
                            <li><a href="#"><nobr>护身符真的有用：积极的心理暗示</nobr></a></li>
                            <li><a href="#"><nobr>护身符真的有用：积极的心理暗示</nobr></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="groupWarp">
                    <div class="groupBox" >
                        <div class="Gbody">
                            <div class="Gmenu">
                                <ol>
                                    <li class="checked">学生问题</li>
                                    <li>学生学习</li>
                                    <li>考生心理</li>
                                </ol>
                            </div>
                            <ul>
                                <li><a href="#"><nobr>人们对于心理咨询的三大误区</nobr></a></li>
                                <li><a href="#"><nobr>人们对于心理咨询的三大误区</nobr></a></li>
                                <li><a href="#"><nobr>人们对于心理咨询的三大误区</nobr></a></li>
                                <li><a href="#"><nobr>人们对于心理咨询的三大误区</nobr></a></li>
                                <li><a href="#"><nobr>人们对于心理咨询的三大误区人们对于心理咨询的三大误区人们对于心理咨询的三大误区</nobr></a></li>
                                <li><a href="#"><nobr>人们对于心理咨询的三大误区</nobr></a></li>
                                <li><a href="#"><nobr>人们对于心理咨询的三大误区</nobr></a></li>
                                <li><a href="#"><nobr>人们对于心理咨询的三大误区</nobr></a></li>
                                <li><a href="#"><nobr>人们对于心理咨询的三大误区</nobr></a></li>
                                <li><a href="#"><nobr>人们对于心理咨询的三大误区</nobr></a></li>
                            </ul>
                            <em><a href="#">更多>></a></em>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="container i-container">
        <div class="treewarp">
            <div class="row">

                <div class="col-sm-4">
                    <div class="TreeList">
                        <h5><em><a href="#">更多>></a></em>心身疾病治疗</h5>
                        <dl>
                            <dt><img src="{$Think.const.WEB_URL}/images/temp/tree.gif" /></dt>
                            <dd><a href="#"><nobr>摆脱“心理罢工”</nobr></a> </dd>
                            <dd><a href="#"><nobr>患糖尿病后 四种异常心态四种异常心态四种异常心态四种异常心态</nobr></a></dd>
                            <dd><a href="#"><nobr>摆脱“心理罢工”</nobr></a> </dd>
                            <dd><a href="#"><nobr>患糖尿病后 四种异常心态</nobr></a></dd>
                            <dd><a href="#"><nobr>摆脱“心理罢工”</nobr></a> </dd>
                        </dl>
                    </div>
                </div>
                <div class="line wp33"></div>
                <div class="col-sm-4">
                    <div class="TreeList">
                        <h5><em><a href="#">更多>></a></em>家庭教育</h5>
                        <dl>
                            <dt><img src="{$Think.const.WEB_URL}/images/temp/tree.gif" /></dt>
                            <dd><a href="#"><nobr>摆脱“心理罢工”</nobr></a> </dd>
                            <dd><a href="#"><nobr>患糖尿病后 四种异常心态四种异常心态四种异常心态四种异常心态</nobr></a></dd>
                            <dd><a href="#"><nobr>摆脱“心理罢工”</nobr></a> </dd>
                            <dd><a href="#"><nobr>患糖尿病后 四种异常心态</nobr></a></dd>
                            <dd><a href="#"><nobr>摆脱“心理罢工”</nobr></a> </dd>
                        </dl>
                    </div>
                </div>
                <div class="line wp66"></div>
                <div class="col-sm-4">
                    <div class="TreeList">
                        <h5><em><a href="#">更多>></a></em>专家答疑</h5>
                        <dl>
                            <dt><img src="{$Think.const.WEB_URL}/images/temp/tree.gif" /></dt>
                            <dd><a href="#"><nobr>摆脱“心理罢工”</nobr></a> </dd>
                            <dd><a href="#"><nobr>患糖尿病后 四种异常心态四种异常心态四种异常心态四种异常心态</nobr></a></dd>
                            <dd><a href="#"><nobr>摆脱“心理罢工”</nobr></a> </dd>
                            <dd><a href="#"><nobr>患糖尿病后 四种异常心态</nobr></a></dd>
                            <dd><a href="#"><nobr>摆脱“心理罢工”</nobr></a> </dd>
                        </dl>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="container i-container">
        <div class="row">
            <div class="col-sm-3">
                <div class="box qzone">
                    <div class="Mtop">
                        <span><a href="#">更多&gt;&gt;</a></span>
                        <h2><img src="{$Think.const.WEB_URL}/images/ico_01.gif" class="ico" style="left:10px;"/> 学校教育</h2>
                    </div>
                    <div class="Mbody">
                        <ul class="list">
                            <li><a href="#"><nobr>护身符真的有用护身符真的有用：积极的心理暗示</nobr></a></li>
                            <li><a href="#"><nobr>人们对于心理咨询的三大误区</nobr></a></li>
                            <li><a href="#"><nobr>护身符真的有用护身符真的有用护身符真的有用：积理暗示</nobr></a></li>
                            <li><a href="#"><nobr>人们对于心理咨询的三大误区</nobr></a></li>
                            <li><a href="#"><nobr>护身符真的有用：积极的心理暗示</nobr></a></li>
                            <li><a href="#"><nobr>护身符真的有用：积极的心理暗示</nobr></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="groupWarp">
                    <div class="groupBox" >
                        <div class="Gbody">
                            <div class="Gmenu">
                                <ol>
                                    <li class="checked">技术背景</li>
                                    <li>科研园地</li>
                                    <li>技术档案</li>
                                </ol>
                            </div>
                            <ul>
                                <li><a href="#"><nobr>人们对于心理咨询的三大误区</nobr></a></li>
                                <li><a href="#"><nobr>人们对于心理咨询的三大误区</nobr></a></li>
                                <li><a href="#"><nobr>人们对于心理咨询的三大误区</nobr></a></li>
                                <li><a href="#"><nobr>人们对于心理咨询的三大误区</nobr></a></li>
                                <li><a href="#"><nobr>人们对于心理咨询的三大误区人们对于心理咨询的三大误区人们对于心理咨询的三大误区</nobr></a></li>
                                <li><a href="#"><nobr>人们对于心理咨询的三大误区</nobr></a></li>
                                <li><a href="#"><nobr>人们对于心理咨询的三大误区</nobr></a></li>
                                <li><a href="#"><nobr>人们对于心理咨询的三大误区</nobr></a></li>
                                <li><a href="#"><nobr>人们对于心理咨询的三大误区</nobr></a></li>
                                <li><a href="#"><nobr>人们对于心理咨询的三大误区</nobr></a></li>
                            </ul>
                            <em><a href="#">更多>></a></em>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</block>

<block name="public">

    <!-- inline scripts related to this page -->
    <script>
        jQuery(document).ready(function($) {
            $('#full-width-slider').royalSlider({
                arrowsNav: true,
                arrowsNavHideOnTouch: true,
                loop: true,
                controlsInside: false,
                imageScaleMode: 'fill',
                arrowsNavAutoHide: false,
                autoScaleSlider: true,
                controlNavigation: 'bullets',
                thumbsFitInViewport: false,
                navigateByClick: true,
                startSlideId: 0,
                autoPlay: {
                    // autoplay options go gere
                    enabled: true,
                    pauseOnHover: true,
                    delay: 4000
                },

                transitionType:'move',
//            globalCaption: true,
                transitionSpeed:1000
            });
        });
    </script>
</block>
