<extend name="./base" />
<block name="title">
    <title>登录 - 元认知心理干预技术网</title>
    <meta name="keywords" content="{$Think.config.KEYWORDS}"/>
    <meta name="description" content="{$Think.config.DESCRIPTION}"/>
</block>

<block name="content">


<div class="container i-container">
    <div class="Statu">您的位置：<a href="{$Think.const.SITE_URL}">首页</a> &gt;&gt; 用户登录</div>
</div>

<div class="container i-container">
    <div class="Login">
        <h5>元认知干预用户登录</h5>
        <div class="Lobody">
            <form name="loginForm" id="loginForm" action="__SELF__" method="post">
                <dl class="clearfix">
                    <dt>用户名:</dt>
                    <dd><input name="username" type="text" id="username" placeholder="请输入用户名" value="{$verinfo.username}" /></dd>
                </dl>
                <dl class="clearfix">
                    <dt>密码:</dt>
                    <dd><input name="password" type="password" id="password" style="width: 80%" placeholder="请输入密码"  value="{$verinfo.password}" onkeydown='if(event.keyCode==13){login();}'  /></dd>
                </dl>
                <dl class="clearfix">
                    <dt>验证码:</dt>
                    <dd>
                        <input type="text" class="linput verify" id="human" style="float:left; width:36%;" name="verify" placeholder="验证码"  onkeydown='if(event.keyCode==13){login();}'  />
                        <img src="__MODULE__/index/verifyImg" onclick="reloadcode(this,'__MODULE__/index/verifyImg?')" alt="点击重新刷新" title="点击重新刷新" style=" width: 145px; margin-left:10px; float:left; cursor: pointer;">
                    </dd>
                </dl>
                <dl class="BtnSubmit clearfix">
                    <dt>&nbsp;</dt>
                    <dd>
                        <button class="btn-green" type="button" onclick="login();">登录</button>
                        <div class="btn-links"><a href="#">忘记密码?</a>  <span>|</span>  <a href="__MODULE__/Index/regsiter">注册新用户</a></div>
                    </dd>
                </dl>
                <dl class=" clearfix" style="min-height: 20px;">
                    <dt>&nbsp;</dt>
                    <dd>
                        <p class="red" style="margin-bottom: 0;">{$verinfo.ver}</p>
                    </dd>
                </dl>

            </form>
        </div>




    </div>
</div>


</block>


<block name="public">
<script>
    login = function() {
        if (null == $("#username").val() || "" == $("#username").val()) {
            alert("请输入正确的用户名.");
            $("#username").focus();
            return;
        }
        if (null == $("#password").val() || "" == $("#password").val()) {
            alert("请输入密码.");
            $("#password").focus();
            return;
        }
        if (null == $("#human").val() || "" == $("#human").val()) {
            alert("请输入验证码.");
            $("#human").focus();
            return;
        }
        $("#loginForm").submit();
    };
    //刷新验证码
    function reloadcode(obj,src){
        $(obj).attr("src",src+Math.random());
    }
</script>

</block>
