<extend name="./base" />
<block name="title">
    <title>登录 - 元认知心理干预技术网</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
</block>

<block name="content">


<div class="container i-container">
    <div class="Statu">您的位置：<a href="#">首页</a> &gt;&gt; <a href="#">用户登录</a></div>
</div>

<div class="container i-container">
    <div class="Login">
        <h5>元认知干预用户登录</h5>
        <div class="Lobody">
            <dl class="clearfix">
                <dt>用户名:</dt>
                <dd><input name="" type="text" /></dd>
            </dl>
            <dl class="clearfix">
                <dt>密码:</dt>
                <dd><input name="" type="text" /></dd>
            </dl>
            <dl class="clearfix">
                <dt>验证码:</dt>
                <dd><input name="" type="text" style="width:60px;" /></dd>
            </dl>
            <dl class="BtnSubmit clearfix">
                <dt>&nbsp;</dt>
                <dd>
                    <button class="btn-green">登录</button>
                    <div class="btn-links"><a href="#">忘记密码?</a>  <span>|</span>  <a href="#">注册新用户</a></div>
                </dd>
            </dl>
        </div>




    </div>
</div>


</block>


<block name="public">


</block>
