<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>元认知心理干预技术网 - 首页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="{$Think.const.WEB_URL}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$Think.const.WEB_URL}/css/royalslider.css">
    <link rel="stylesheet" href="{$Think.const.WEB_URL}/css/skin-white.css">
    <link rel="stylesheet" href="{$Think.const.WEB_URL}/css/style.css">


</head>
<body>

<div class="header">
    <div class="container">
        <div class=" header-wrap">
            <div class="header-box clearfix">
                <div class="row">
                    <div class="col-sm-6"><a href="#" class="logo"><img src="{$Think.const.WEB_URL}/images/logo.gif"></a> </div>
                    <div class="col-sm-6 text-right">
                    <ul class="header-list">
                        <li>
                            <img src="{$Think.const.WEB_URL}/images/tip.gif">
                            <a href="#" onclick="addFav();">加入收藏</a>
                        </li>
                        <li>
                            <img src="{$Think.const.WEB_URL}/images/reg.gif">
                            <a href="#">免费注册</a>
                        </li>
                        <li>
                            <img src="{$Think.const.WEB_URL}/images/login.gif">
                            <a href="#">会员登录</a>
                        </li>
                        <li>
                            <img src="{$Think.const.WEB_URL}/images/contact.gif">
                            <a href="#" target="_blank">联系我们</a>
                        </li>
                    </ul>
                    <div class="header-search  hidden-xs">
                        <div class="search">
                            <form method="get" action="#" target="_blank">
                                <span>站内搜索:</span>
                                <input type="text" class="s" name="q">
                                <input type="submit" class="st" value="">
                            </form>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container i-container">


    <!-- Static navbar -->
    <nav class="navbar navbar-default nav-green" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">首页</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">技术之窗</a></li>
                    <li><a href="#">服务指南</a></li>
                    <li><a href="#">研修生园地</a></li>
                    <li><a href="#">专业委员会</a></li>
                    <li><a href="#">抑郁症神经症</a></li>
                    <li><a href="#">心身疾病治疗</a></li>
                    <li><a href="#">学生学习</a></li>
                    <li><a href="#">考生心理</a></li>
                    <li><a href="#">家庭教育</a></li>
                    <li><a href="#">学校教育</a></li>
                    <li><a href="#">技术背景</a></li>
                    <li><a href="#">科研园地</a></li>
                    <li><a href="#">技术档案</a></li>
                    <li><a href="#">留言咨询</a></li>
                    <li><a href="#">专家答疑</a></li>
                    <li><a href="#">图书资料</a></li>
                    <li><a href="#" class="yellow">网络教学</a></li>

                </ul>

            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>


</div> <!-- /container -->


<div class="container i-container">
    <div class="Statu">您的位置：<a href="#">首页</a> &gt;&gt; <a href="#">用户注册</a></div>
</div>

<div class="container i-container">
    <div class="register">
        <div class="clear"></div>
        <h5>基本资料</h5>
        <dl class="clearfix">
            <dt>用户名:</dt>
            <dd><input name="" type="text" /><em><span>*</span>请输入您的登录帐号</em></dd>
        </dl>
        <dl class="clearfix">
            <dt>密码:</dt>
            <dd><input name="" type="text" /><em><span>*</span>请输入您的登录密码</em></dd>
        </dl>
        <dl class="clearfix">
            <dt>重复密码:</dt>
            <dd><input name="" type="text" /><em><span>*</span>请再次输入您的登录密码</em></dd>
        </dl>

        <dl class="clearfix">
            <dt>姓名:</dt>
            <dd><input name="" type="text" /><em><span>*</span>请输入您的姓名</em></dd>
        </dl>
        <dl class="clearfix">
            <dt>性别:</dt>
            <dd><input name="" type="radio" value="" />男<input name="" type="radio" value="" />女</dd>
        </dl>
        <dl class="clearfix">
            <dt>手机:</dt>
            <dd><input name="" type="text" /><em><span>*</span>手机与固定电话可以任选一个</em></dd>
        </dl>
        <dl class="clearfix">
            <dt>固话:</dt>
            <dd><input name="" type="text" /></dd>
        </dl>
        <dl class="clearfix">
            <dt>邮箱:</dt>
            <dd><input name="" type="text" /><em><span>*</span>请输入您的常用邮箱</em></dd>
        </dl>


        <h5>详细资料</h5>
        <dl class="clearfix">
            <dt>地区:</dt>
            <dd><input name="" type="text" /></dd>
        </dl>
        <dl class="clearfix">
            <dt>单位:</dt>
            <dd><input name="" type="text" /></dd>
        </dl>
        <dl class="clearfix">
            <dt>QQ:</dt>
            <dd><input name="" type="text" /></dd>
        </dl>
        <dl class="clearfix">
            <dt>个人简介:</dt>
            <dd>
                <textarea name="" cols="" rows=""></textarea><em>请输入个人简介</em></dd>
            </dd>
        </dl>
        <dl class="clearfix">
            <dt>上传照片:</dt>
            <dd><input name="photo" type="file" /></dd>
        </dl>
        <dl class="clearfix">
            <dt>上传身份证:</dt>
            <dd><input name="" type="file" /></dd>
        </dl>
        <dl class="clearfix">
            <dt>资质证明:</dt>
            <dd><input name="" type="file" /></dd>
        </dl>
        <dl class="clearfix">
            <dt>&nbsp;</dt>
            <dd><input name="" type="checkbox" value="" />我已阅读并完全同意条款内容</dd>
        </dl>

        <dl class="BtnSubmit clearfix">
            <dt>&nbsp;</dt>
            <dd><button class="btn-green">注册</button></dd>
        </dl>


    </div>
</div>




<div class="container i-container">
    <div class="link">
        <ul class="clearfix">
            <li><a href="#">中国心理学网</a></li>
            <li><a href="#">华夏心理</a></li>
            <li><a href="#">无忧心理网络</a></li>
            <li><a href="#">爱心理联盟</a></li>
            <li><a href="#">中国心理学网</a></li>
            <li><a href="#">华夏心理</a></li>
            <li><a href="#">无忧心理网络</a></li>
            <li><a href="#">爱心理联盟</a></li>

        </ul>
    </div>
</div>


<div class="footer">
    <p>
        <span>元认知心理干预技术</span>
        <span> Copyright © 2010, www.yrzgy.com, All rights reserved</span>
    </p>
    <p>
        <span>地址：大连市西岗区长江路570号金宸国际大厦321</span>
        <span>|</span>
        <span>联系电话：0411-83608340 13390021338 15998660373</span>
        <span>|</span>
        <span>邮编：116011</span>
    </p>
</div>


<!-- core js -->
<script src="{$Think.const.WEB_URL}/js/jquery.min.js"></script>
<script src="{$Think.const.WEB_URL}/js/jquery.royalslider.min.js"></script>
<script src="{$Think.const.WEB_URL}/js/bootstrap.min.js"></script>
<script src="{$Think.const.WEB_URL}/js/common.js"></script>

<script>
    jQuery(document).ready(function($) {
        $('#full-width-slider').royalSlider({
            arrowsNav: true,
            arrowsNavHideOnTouch: true,
            loop: true,
            controlsInside: false,
            imageScaleMode: 'fill',
            arrowsNavAutoHide: false,
            autoScaleSlider: true,
            controlNavigation: 'bullets',
            thumbsFitInViewport: false,
            navigateByClick: true,
            startSlideId: 0,
            autoPlay: {
                // autoplay options go gere
                enabled: true,
                pauseOnHover: true,
                delay: 4000
            },

            transitionType:'move',
//            globalCaption: true,
            transitionSpeed:1000
        });
    });
</script>
</body>
</html>