<extend name="./base" />
<block name="title">
    <title>登录 - 元认知心理干预技术网</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
</block>

<block name="content">


<div class="container i-container">
    <div class="Statu">您的位置：<a href="#">首页</a> &gt;&gt; <a href="#">用户注册</a></div>
</div>

<div class="container i-container">
    <div class="register">
        <div class="clear"></div>
        <h5>基本资料</h5>
        <dl class="clearfix">
            <dt>用户名:</dt>
            <dd><input name="" type="text" /><em><span>*</span>请输入您的登录帐号</em></dd>
        </dl>
        <dl class="clearfix">
            <dt>密码:</dt>
            <dd><input name="" type="text" /><em><span>*</span>请输入您的登录密码</em></dd>
        </dl>
        <dl class="clearfix">
            <dt>重复密码:</dt>
            <dd><input name="" type="text" /><em><span>*</span>请再次输入您的登录密码</em></dd>
        </dl>

        <dl class="clearfix">
            <dt>姓名:</dt>
            <dd><input name="" type="text" /><em><span>*</span>请输入您的姓名</em></dd>
        </dl>
        <dl class="clearfix">
            <dt>性别:</dt>
            <dd><input name="" type="radio" value="" />男<input name="" type="radio" value="" />女</dd>
        </dl>
        <dl class="clearfix">
            <dt>手机:</dt>
            <dd><input name="" type="text" /><em><span>*</span>手机与固定电话可以任选一个</em></dd>
        </dl>
        <dl class="clearfix">
            <dt>固话:</dt>
            <dd><input name="" type="text" /></dd>
        </dl>
        <dl class="clearfix">
            <dt>邮箱:</dt>
            <dd><input name="" type="text" /><em><span>*</span>请输入您的常用邮箱</em></dd>
        </dl>


        <h5>详细资料</h5>
        <dl class="clearfix">
            <dt>地区:</dt>
            <dd><input name="" type="text" /></dd>
        </dl>
        <dl class="clearfix">
            <dt>单位:</dt>
            <dd><input name="" type="text" /></dd>
        </dl>
        <dl class="clearfix">
            <dt>QQ:</dt>
            <dd><input name="" type="text" /></dd>
        </dl>
        <dl class="clearfix">
            <dt>个人简介:</dt>
            <dd>
                <textarea name="" cols="" rows=""></textarea><em>请输入个人简介</em></dd>
            </dd>
        </dl>
        <dl class="clearfix">
            <dt>上传照片:</dt>
            <dd><input name="photo" type="file" /></dd>
        </dl>
        <dl class="clearfix">
            <dt>上传身份证:</dt>
            <dd><input name="" type="file" /></dd>
        </dl>
        <dl class="clearfix">
            <dt>资质证明:</dt>
            <dd><input name="" type="file" /></dd>
        </dl>
        <dl class="clearfix">
            <dt>&nbsp;</dt>
            <dd><input name="" type="checkbox" value="" />我已阅读并完全同意条款内容</dd>
        </dl>

        <dl class="BtnSubmit clearfix">
            <dt>&nbsp;</dt>
            <dd><button class="btn-green">注册</button></dd>
        </dl>


    </div>
</div>



</block>


<block name="public">


</block>
