<extend name="./base" />
<block name="title">
    <title>重置密码成功 - 元认知心理干预技术网</title>
    <meta name="keywords" content="{$Think.config.KEYWORDS}"/>
    <meta name="description" content="{$Think.config.DESCRIPTION}"/>
</block>

<block name="content">


<div class="container i-container">
    <div class="Statu">您的位置：<a href="{$Think.const.SITE_URL}">首页</a> &gt;&gt; 重置密码成功</div>
</div>

<div class="container i-container">
    <div class="Login" style="background: none;">
        <p class="FindPass">
            恭喜您，您的新密码已经设置成功，同时也发送邮件到您的邮箱备忘。<br>
        </p>
        <p class="RegLink">
            现在<a href="__MODULE__/Index/login" style="color:#cc0000">登录</a>
        </p>
    </div>
</div>


</block>


<block name="public">

</block>
