<extend name="./base" />
<block name="title"><title>查看 - 技术团队管理 - 内容管理 - 元认知干预网站管理后台系统</title></block>
<block name="content">
    <div class="breadcrumbs" id="breadcrumbs">


        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#">首页</a>
            </li>
            <li class="active">内容管理</li>
        </ul><!-- .breadcrumb -->

    </div>

    <div class="page-content">
        <div class="page-header">
            <h1>
                技术团队管理
                <small>
                    <i class="icon-double-angle-right"></i>
                    查看
                </small>
            </h1>
        </div><!-- /.page-header -->
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal" id="myForm" method="post" action="__SELF__">
                    <foreach name="info" item="vo" >
                        <table class="Edit">
                            <colgroup width="130px"></colgroup>
                            <tbody>
                                <tr>
                                    <th>标题： </th>
                                    <td>{$vo.title}</td>
                                </tr>

                                <tr>
                                    <th>摘要： </th>
                                    <td>{$vo.summary}</td>
                                </tr>
                                <tr>
                                    <th>内容： </th>
                                    <td>{$vo.content|htmlspecialchars_decode}</td>
                                </tr>
                                <tr>
                                    <th>作者： </th>
                                    <td>{$vo.author}</td>
                                </tr>
                                <tr>
                                    <th>自定义排序： </th>
                                    <td>{$vo.custom_sort}</td>
                                </tr>
                                <tr>
                                    <th>成员照片： </th>
                                    <td>
                                        <div>
                                            <img src="__ROOT__/CDN/uploaded/person/{$vo.photo}">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>照片描述： </th>
                                    <td>{$vo.photo_describe}</td>
                                </tr>
                                <tr>
                                    <th>允许复制： </th>
                                    <td>
                                        <if condition="$vo.allow_copy eq 1">
                                            允许
                                            <else />
                                            拒绝
                                        </if>
                                    </td>
                                </tr>
                                <tr>
                                    <th>关键字： </th>
                                    <td>{$vo.keywords}</td>
                                </tr>

                            </tbody>
                        </table>

                        <div class="space-4"></div>
                    </foreach>
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <div class="row">
                                <button class="btn" type="button" onclick="javascript:history.back()">返回</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</block>

<block name="public">

    <!-- inline scripts related to this page -->
    <script src="{$Think.const.ADMIN_URL}/js/admin.js"></script>

</block>