<extend name="./base" />
<block name="title"><title>新增 - 图片故事管理 - 内容管理 - 元认知干预网站管理后台系统</title></block>
<block name="content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#">首页</a>
            </li>
            <li class="active">内容管理</li>
        </ul><!-- .breadcrumb -->

    </div>

    <div class="page-content">
        <div class="page-header">
            <h1>
                图片故事管理
                <small>
                    <i class="icon-double-angle-right"></i>
                    新增
                </small>
            </h1>
        </div><!-- /.page-header -->
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal" id="myForm" method="post"  enctype="multipart/form-data" action="__SELF__">
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> <span class="red">*</span>图片故事标题： </label>
                        <div class="col-sm-5">
                            <input placeholder="请输入标题" class="form-control" type="text" name="title" >
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> <span class="red">*</span>封面图片： </label>
                        <div class="col-sm-5">
                            <button>上传图片</button>
                        </div>
                    </div>


                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 故事简述： </label>
                        <div class="col-sm-5">
                            <textarea class="autosize-transition form-control" style="height: 120px;" name="story_descirbe"></textarea>
                        </div>
                    </div>


                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 作者： </label>
                        <div class="col-sm-5">
                            <input placeholder="请输入作者" class="form-control" type="text" name="author" >
                        </div>
                    </div>


                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> <span class="red">*</span>自定义排序： </label>
                        <div class="col-sm-5">
                            <input placeholder="请输入自定义排序, 数字大的在前面." class="form-control" type="text" name="custom_sort" value="1000" >
                            <span class="grey">请输入自定义排序,数字大的在前面</span>
                        </div>
                    </div>


                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 允许复制： </label>
                        <div class="col-sm-5">
                            <div class="form-info">
                                <label class="lab"><input value="false" name="allow_copy" checked="" type="radio">拒绝</label>
                                <label class="lab"><input value="true" name="allow_copy" type="radio">允许</label>
                            </div>
                        </div>
                    </div>

                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">图片列表： </label>
                        <div class="col-sm-5">

                        </div>
                    </div>

                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">图片操作： </label>
                        <div class="col-sm-5">
                            <button>上传图片</button>
                        </div>
                    </div>


                    <div class="space-4"></div>
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <div class="row">
                                <button class="btn btn-info b-submit" type="submit">
                                    <i class="icon-ok bigger-110"></i>
                                    提交
                                </button>
                                <button class="btn" type="button" onclick="javascript:history.back()">返回</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</block>

<block name="public">

    <!-- inline scripts related to this page -->

    <script src="{$Think.const.ADMIN_URL}/js/bootstrap-multiselect.js"></script>
    <script src="{$Think.const.ADMIN_URL}/js/admin.js"></script>
    <script type="text/javascript">

        $(function(){


            $('#myForm').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    title: {
                        validators: {
                            notEmpty: {
                                message: '标题不能为空'
                            },
                            stringLength: {
                                min: 2,
                                max: 90,
                                message: '标题长度必须在2到90之间'
                            },
                            regexp: {
                                regexp: /^[0-9a-zA-Z\u4e00-\u9fa5]+$/,
                                message: '标题由中英文和数字组成'
                            }
                        }
                    },
                    summary: {
                        validators: {
                            stringLength: {
                                min: 0,
                                max: 200,
                                message: '简介长度必须在0到200之间'
                            }
                        }
                    },
                    keywords: {
                        validators: {
                            stringLength: {
                                min: 0,
                                max: 200,
                                message: '关键词长度必须在0到200之间'
                            }
                        }
                    },
                    photo: {
                        validators: {
                            notEmpty: {
                                message: '成员照片不能为空'
                            }
                        }
                    },
                    photo_describe: {
                        validators: {
                            notEmpty: {
                                message: '照片描述不能为空'
                            },
                            stringLength: {
                                min: 1,
                                max: 20,
                                message: '照片描述长度必须在1到20之间'
                            }
                        }
                    },
                    custom_sort: {
                        validators: {
                            notEmpty: {
                                message: '自定义排序不能为空'
                            },
                            stringLength: {
                                min: 1,
                                max: 10,
                                message: '自定义排序长度必须在1到10之间'
                            },
                            digits :  {
                                message: '只能输入整数'
                            }
                        }
                    }

                },
                submitHandler: function(validator, form, submitButton) {
                    // a)
                    // Use Ajax to submit form data
                    //$.post(form.attr('action'), form.serialize(), function(result) {
                    // ... process the result ...
                    //}, 'json');

                    //b)
                    // Do your task
                    // ...
                    // Submit the form
                    validator.defaultSubmit();
                }

            });
        })
    </script>
</block>