<extend name="./base" />
<block name="title"><title>新增 - 图片故事管理 - 内容管理 - 元认知干预网站管理后台系统</title></block>
<block name="content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#">首页</a>
            </li>
            <li class="active">内容管理</li>
        </ul><!-- .breadcrumb -->

    </div>

    <div class="page-content">
        <div class="page-header">
            <h1>
                图片故事管理
                <small>
                    <i class="icon-double-angle-right"></i>
                    新增
                </small>
            </h1>
        </div><!-- /.page-header -->
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal" id="myForm" method="post"  enctype="multipart/form-data" action="__SELF__">
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> <span class="red">*</span>图片故事标题： </label>
                        <div class="col-sm-5">
                            <input placeholder="请输入标题" class="form-control" type="text" name="title" >
                        </div>
                    </div>

                    <link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_URL}/uploadify/uploadify.css" />
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> <span class="red">*</span>封面图片： </label>
                        <div class="col-sm-5">
                            <input type="hidden" name="cover" value="" id="cover"/>
                            <input type="hidden" name="thumbnail" value="" id="thumbnail"/>
                            <div id="showCover" style="display: none;"><img id="_coverImg" src="" class="coverImg"/></div>

                            <input id="file_upload" name="file_upload" type="file">
                            <span class="red">只能上传1张图片</span>
                        </div>
                    </div>


                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 故事简述： </label>
                        <div class="col-sm-5">
                            <textarea class="autosize-transition form-control" style="height: 120px;" name="story_descirbe"></textarea>
                        </div>
                    </div>


                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 作者： </label>
                        <div class="col-sm-5">
                            <input placeholder="请输入作者" class="form-control" type="text" name="author" >
                        </div>
                    </div>


                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> <span class="red">*</span>自定义排序： </label>
                        <div class="col-sm-5">
                            <input placeholder="请输入自定义排序, 数字大的在前面." class="form-control" type="text" name="custom_sort" value="1000" >
                            <span class="grey">请输入自定义排序,数字大的在前面</span>
                        </div>
                    </div>


                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 允许复制： </label>
                        <div class="col-sm-5">
                            <div class="form-info">
                                <label class="lab"><input value="false" name="allow_copy" checked="" type="radio">拒绝</label>
                                <label class="lab"><input value="true" name="allow_copy" type="radio">允许</label>
                            </div>
                        </div>
                    </div>

                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">图片列表： </label>
                        <div class="col-sm-5">

                        </div>
                    </div>

                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">图片操作： </label>
                        <div class="col-sm-5">
                            <button>上传图片</button>
                        </div>
                    </div>


                    <div class="space-4"></div>
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <div class="row">
                                <button class="btn btn-info b-submit" type="submit">
                                    <i class="icon-ok bigger-110"></i>
                                    提交
                                </button>
                                <button class="btn" type="button" onclick="javascript:history.back()">返回</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</block>

<block name="public">

    <!-- inline scripts related to this page -->

    <script src="{$Think.const.ADMIN_URL}/js/bootstrap-multiselect.js"></script>
    <script src="{$Think.const.ADMIN_URL}/uploadify/jquery.uploadify.js"></script>
    <script src="{$Think.const.ADMIN_URL}/js/admin.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#file_upload').uploadify({
                'swf'      : '{$Think.const.ADMIN_URL}/uploadify/uploadify.swf',    //指定上传控件的主体文件
                'uploader' : '__MODULE__/Files/storyCover',   //指定服务器端上传处理文件
                'buttonText' : '上传图片',
                'width' : "120",
                'height' : "30",
                'auto' : "false",
                'fileTypeExts' : "*.jpg;*.jpeg;*.gif;*.png;*.bmp;",
                "fileDesc" : "Image Files",
                'fileSizeLimit':'3MB', //上传文件的大小限制
                'uploadLimit': '1',  //最大上传文件数量
                'onSelectError':function(file, errorCode, errorMsg){
                    switch(errorCode) {
                        case -100:
                            alert("上传的文件数量已经超出系统限制的"+$('#file_upload').uploadify('settings','uploadLimit')+"个文件！");
                            break;
                        case -110:
                            alert("文件 ["+file.name+"] 大小超出系统限制的"+$('#file_upload').uploadify('settings','fileSizeLimit')+"大小！");
                            break;
                        case -120:
                            alert("文件 ["+file.name+"] 大小异常！");
                            break;
                        case -130:
                            alert("文件 ["+file.name+"] 类型不正确！");
                            break;
                    }
                },
                //上传到服务器，服务器返回相应信息到data里
                'onUploadSuccess':function(file, data, response){
                    console.log(data);
                }

            //其他配置项-
        });

            showCover = function(fileName, thumbnail) {
                $("#cover").val(fileName);
                $("#thumbnail").val(thumbnail);
                $("#_coverImg").attr("src", cdn + "/uploaded/story/" + fileName);
                $("#showCover").show();
            };

            generatePicture = function(fileServerName, thumbnail, fileName) {

                var picture = '<li><div class="DisImg"><img src="CDN/uploaded/story/' + fileServerName + '" style="max-width:300px;"/></div>'
                        + '<div class="DisMain"><table><tbody><tr><th>图片名称：</th>'
                        + '<td>' + fileName + '<input type="hidden" name="items[' + i + '].picture" value="' + fileServerName + '"/></td></tr><tr><th>图片描述：</th>'
                        + '<td><input type="hidden" name="items[' + i + '].thumbnail" value="' + thumbnail + '"/><textarea name="items[' + i + '].description" cols="50" rows="5"></textarea></td>'
                        + '</tr><tr><th>自定义排序：</th><td><input type="text" name="items[' + i + '].customSort" value="1000" maxlength="8"/></td>'
                        + '</tr><tr><th>操作：</th><td><a href="###" onclick="removePicture(this);">删除</a></td>'
                        + '</tr></tbody></table></div><div class="clear"></div></li>';
                $("#picture").append(picture);
                i++;
            };

            removePicture = function(obj) {
                if (confirm("你确定要删除这张图片吗?")) {
                    $(obj).parent().parent().parent().parent().parent().parent().remove();
                }
            };

            $('#myForm').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    title: {
                        validators: {
                            notEmpty: {
                                message: '标题不能为空'
                            },
                            stringLength: {
                                min: 2,
                                max: 90,
                                message: '标题长度必须在2到90之间'
                            },
                            regexp: {
                                regexp: /^[0-9a-zA-Z\u4e00-\u9fa5]+$/,
                                message: '标题由中英文和数字组成'
                            }
                        }
                    },
                    summary: {
                        validators: {
                            stringLength: {
                                min: 0,
                                max: 200,
                                message: '简介长度必须在0到200之间'
                            }
                        }
                    },
                    keywords: {
                        validators: {
                            stringLength: {
                                min: 0,
                                max: 200,
                                message: '关键词长度必须在0到200之间'
                            }
                        }
                    },
                    photo: {
                        validators: {
                            notEmpty: {
                                message: '成员照片不能为空'
                            }
                        }
                    },
                    photo_describe: {
                        validators: {
                            notEmpty: {
                                message: '照片描述不能为空'
                            },
                            stringLength: {
                                min: 1,
                                max: 20,
                                message: '照片描述长度必须在1到20之间'
                            }
                        }
                    },
                    custom_sort: {
                        validators: {
                            notEmpty: {
                                message: '自定义排序不能为空'
                            },
                            stringLength: {
                                min: 1,
                                max: 10,
                                message: '自定义排序长度必须在1到10之间'
                            },
                            digits :  {
                                message: '只能输入整数'
                            }
                        }
                    }

                },
                submitHandler: function(validator, form, submitButton) {
                    // a)
                    // Use Ajax to submit form data
                    //$.post(form.attr('action'), form.serialize(), function(result) {
                    // ... process the result ...
                    //}, 'json');

                    //b)
                    // Do your task
                    // ...
                    // Submit the form
                    validator.defaultSubmit();
                }

            });
        })
    </script>
</block>