.nav-list>li.special>a{background-color: #fff;}
.form-info{padding-top: 5px;}
.lab{ display:inline-block; margin-right: 10px;}
    .lab input{vertical-align: middle; margin-top: -3px; margin-right: 3px;}
img{max-width: 100%;}

/*edit page*/
.Edit {width: 100%; margin-bottom: 8px;}
.Edit thead td {background-color: #438eb9; line-height: 30px; padding-left: 10px; font-weight: bold; color: #fff; height: 30px; }
.Edit tbody th,.Edit tbody td {border: 1px solid #e5e5e5; padding: 5px; vertical-align: top;}
.Edit tbody td em {margin-left: 20px; width: 250px;}
.Edit tbody th {background-color: #f9f9f9; text-align: right;}
.Edit tfoot td {height: 30px; background-color: #eef4ea; border: 1px solid #e5e5c6; padding-left: 20%;}

.option-transfer-select-button {width: 50px; border:none; background-color: #4f99c6; color: #fff; font-family: Simsun;}
.option-transfer-select-td table tbody tr td {vertical-align: middle;}
.tr-highlight {background-color: #F1F8B4;}
.select-table{}
.select-table select{ height: 230px;}
.select-table .select-op{padding: 0 10px;}

.coverImg {_width: 217px; _height: 127px; max-height: 127px; max-width: 217px; margin-bottom: 10px;}
.DisStory { margin: 0; padding: 0; list-style: none;}
.DisStory li {padding: 10px 0px; border-bottom: 1px dotted #ccc;}
.DisStory .DisImg {width: 320px; float: left;}
.DisStory .DisMain {}
.DisStory .DisMain textarea {width: 100%;}
.DisStory .DisMain table tr th {width: 90px; padding-right: 5px;}
.DisStory .DisMain table tr th,.DisStory .DisMain table tr td{padding-top: 5px; padding-bottom: 5px;}
.DisStory .DisMain a:link,.DisStory .DisMain a:visited {color: #cc0000;}

.items{list-style:none; margin: 0; padding: 0;}
.items li{ padding-bottom: 10px; padding-right: 40px; position: relative;}
.items li a.item-a{ display: inline-block; width: 40px; height: 34px;position: absolute; top: 0; right: 0; text-align: center; line-height: 34px; background-color: #00a4ac; color: #fff;}
.items li a.item-a:hover{text-decoration: none; background-color: #cc0000;}
.items li a.item-a i{vertical-align: middle; font-size: 20px; margin-top: -3px; display: inline-block;}

.vote-wrap{ max-width: 500px; padding: 20px 0 0 20px;}
.mb0{    margin-bottom:0px;}
.progress-bar-1,.progress-bar-16{ background-color: #00ccff;}
.progress-bar-2,.progress-bar-17{ background-color: #ffcc00;}
.progress-bar-3,.progress-bar-18{ background-color: #ff7200;}
.progress-bar-4,.progress-bar-19{ background-color: #9c00ff;}
.progress-bar-5,.progress-bar-20{ background-color: #007eff;}
.progress-bar-6,.progress-bar-21{ background-color: #e400ff;}
.progress-bar-7,.progress-bar-22{ background-color: #00ff6c;}
.progress-bar-8,.progress-bar-23{ background-color: #ff3000;}
.progress-bar-9,.progress-bar-24{ background-color: #66ff00;}
.progress-bar-10,.progress-bar-25{ background-color: #9a01e9;}
.progress-bar-11,.progress-bar-26{ background-color: #0179e9;}
.progress-bar-12,.progress-bar-27{ background-color: #9ae901;}
.progress-bar-13,.progress-bar-28{ background-color: #5b8a01;}
.progress-bar-14,.progress-bar-29{ background-color: #009ee0;}
.progress-bar-15,.progress-bar-30{ background-color: #3000e5;}


a.circle-red{display: inline-block; width:20px; height: 20px; border-radius: 50%; background-color: #cc0000; color: #fff; line-height: 20px; text-align: center;}
a.circle-red:hover{text-decoration: none; background-color: #ff0000;}

.group {border: 1px solid #dddddd; margin-bottom: 15px; padding: 5px; margin-left: 23px; position: relative; height: auto !important; min-height: 70px; height: 70px;}
.gray {background-color: #f8f8f8;}
.group em {position: absolute; left: -23px; top: 0px; line-height: 24px; font-weight: bold; font-size: 14px; font-family: Arial, Helvetica, sans-serif;}
.group .photo {float: right; border: 1px solid #eeeeee; padding: 2px;}
.group .user {font-weight: bold;}
.group .user .top {color: #34538b; font-size: 14px;}
.group .time {color: #34538b; line-height: 18px;}
.group .reContent {padding: 8px 0px; line-height: 20px;}
.group p{margin-bottom: 0px;}
.Edit tbody td .group em{margin-left: 0px;}

.consult-ul{list-style: none; padding: 0;margin-left: 0; }
.date-box{width:150px; float: left; margin-right: 10px;}
.date-mid{float: left; margin-right: 10px;color: #ccc; line-height:34px;}

.consult-ul li a.item-a{ float:left; position: inherit;}

.success-tip{display: inline-block; min-width: 430px; padding: 8px; border:1px solid #a0df84; background-color: #d7f7c9; text-align: left; color: #34a004;}
.fail-tip{display: inline-block; min-width: 430px; padding: 8px; border:1px solid #e89f9f; background-color: #ffebeb; text-align: left; color: #cc0000;}

.replybox{background-color: #f5f5f5; padding: 10px; margin-bottom:10px;}