<extend name="./base" />
<block name="title"><title>查看 - 文章评论管理 - 会员管理 - 元认知干预网站管理后台系统</title></block>
<block name="content">
    <div class="breadcrumbs" id="breadcrumbs">


        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#">首页</a>
            </li>
            <li class="active">会员管理</li>
        </ul><!-- .breadcrumb -->

    </div>

    <div class="page-content">
        <div class="page-header">
            <h1>
                文章评论管理
                <small>
                    <i class="icon-double-angle-right"></i>
                    查看
                </small>
            </h1>
        </div><!-- /.page-header -->
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal" id="myForm" method="post" action="__SELF__">
                    <foreach name="info" item="vo" >
                        <table class="Edit">
                            <colgroup width="130px"></colgroup>
                            <tbody>
                                <tr>
                                    <th>文章标题： </th>
                                    <td><a href="/home/Article/show/u/{$vo.id}" target="_blank">{$vo.title}</a> </td>
                                </tr>

                                <tr>
                                    <th>评论内容： </th>
                                    <td>
                                        {$vo.content|htmlspecialchars_decode}
                                    </td>
                                </tr>
                                <tr>
                                    <th>评论人： </th>
                                    <td>{$vo.nickname}</td>
                                </tr>
                                <tr>
                                    <th>评论时间： </th>
                                    <td>{$vo.publish_time}</td>
                                </tr>
                                <tr>
                                    <th>发表IP： </th>
                                    <td>{$vo.ip}</td>
                                </tr>

                                <tr>
                                    <th>当前状态： </th>
                                    <td>
                                        <if condition="$vo.audit eq 0 ">
                                            未审核
                                            <elseif condition="$vo.audit eq 1"/>
                                            已审核
                                            <else />
                                            已屏蔽
                                        </if>
                                    </td>
                                </tr>

                                <tr>
                                    <th>操作： </th>
                                    <td>
                                        <if condition="$vo.audit eq 0">
                                            <a href="javascript:void(0);" class="lock-btn" data-id="{$vo.pk}" data-statu="pass">审核</a>
                                            <a href="javascript:void(0);" class="lock-btn" data-id="{$vo.pk}" data-statu="lock">屏蔽</a>
                                            <elseif condition="$vo.audit eq 1"/>
                                            <a href="javascript:void(0);" class="lock-btn" data-id="{$vo.pk}" data-statu="lock">屏蔽</a>
                                            <else />
                                            <a href="javascript:void(0);" class="lock-btn" data-id="{$vo.pk}" data-statu="unlock">取消屏蔽</a>
                                        </if>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                        <div class="space-4"></div>
                    </foreach>
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <div class="row">

                                <button class="btn" type="button" onclick="javascript:history.back()">返回</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</block>

<block name="public">

    <!-- inline scripts related to this page -->
    <script src="{$Think.const.ADMIN_URL}/js/bootbox.min.js"></script>
    <script src="{$Think.const.ADMIN_URL}/js/admin.js"></script>
    <script>
        //锁定与解锁
        $(".lock-btn").click(function(){
            var that = this;
            if ($(that).attr("data-statu")=="pass"){
                var str = "确定要通过审核吗，通过后将在前台显示！";
            }else if($(that).attr("data-statu")=="lock"){
                var str = "确定要屏蔽吗，屏蔽后将不在前台显示";
            }
            else{
                var str = "确定要取消屏蔽吗，取消屏蔽后将在前台显示!";
            }
            bootbox.confirm(str, function(result) {
                if(result) {
                    location.href ="__MODULE__/Member/commentShowLocked/pa/"+$(that).attr("data-id")+"/sa/"+$(that).attr("data-statu");
                }
            });
        });
    </script>
</block>