<extend name="./base" />
<block name="title"><title>查看 - 会员基本信息 - 会员管理 - 元认知干预网站管理后台系统</title></block>
<block name="content">
    <div class="breadcrumbs" id="breadcrumbs">


        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#">首页</a>
            </li>
            <li class="active">会员管理</li>
        </ul><!-- .breadcrumb -->

    </div>

    <div class="page-content">
        <div class="page-header">
            <h1>
                会员基本信息
                <small>
                    <i class="icon-double-angle-right"></i>
                    查看
                </small>
            </h1>
        </div><!-- /.page-header -->
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal" id="myForm" method="post" action="__SELF__">
                    <foreach name="info" item="vo" >
                        <table class="Edit">
                            <colgroup width="130px"></colgroup>
                            <tbody>
                            <tr>
                                <th>用户名： </th>
                                <td>{$vo.username}</td>
                            </tr>
                            <tr>
                                <th>昵称： </th>
                                <td>{$vo.nickname}</td>
                            </tr>
                            <tr>
                                <th>真实姓名： </th>
                                <td>{$vo.real_name}</td>
                            </tr>
                            <tr>
                                <th>性别： </th>
                                <td>
                                    <if condition="$vo.gender eq 0">
                                        男
                                        <elseif condition="$vo.gender eq 1"/>
                                        女
                                        <else />
                                        保密
                                    </if>
                                </td>
                            </tr>
                            <tr>
                                <th>手机： </th>
                                <td>{$vo.mobile}</td>
                            </tr>
                            <tr>
                                <th>固定电话： </th>
                                <td>{$vo.telephone}</td>
                            </tr>
                            <tr>
                                <th>E-mail： </th>
                                <td>{$vo.email}</td>
                            </tr>

                            <tr>
                                <th>地址： </th>
                                <td>{$vo.address}</td>
                            </tr>
                            <tr>
                                <th>单位： </th>
                                <td>{$vo.organization}</td>
                            </tr>
                            <tr>
                                <th>出生日期： </th>
                                <td>{$vo.birthday}</td>
                            </tr>
                            <tr>
                                <th>MSN： </th>
                                <td>{$vo.msn}</td>
                            </tr>
                            <tr>
                                <th>QQ： </th>
                                <td>{$vo.qq}</td>
                            </tr>
                            <tr>
                                <th>个人简介： </th>
                                <td>{$vo.summary}</td>
                            </tr>
                            <tr>
                                <th>上传照片： </th>
                                <td>
                                    <if condition="$vo.avatar neq null">
                                        <img src="{$Think.const.UPLOAD_URL}/member/{$vo.avatar}">
                                    </if>
                                </td>
                            </tr>
                            <tr>
                                <th>上传身份证： </th>
                                <td>
                                    <if condition="$vo.identity_card neq null">
                                        <img src="{$Think.const.UPLOAD_URL}/member/{$vo.identity_card}">
                                    </if>
                                </td>
                            </tr>
                            <tr>
                                <th>资质证明： </th>
                                <td>
                                    <if condition="$vo.certification neq null">
                                        <img src="{$Think.const.UPLOAD_URL}/member/{$vo.certification}">
                                    </if>
                                </td>
                            </tr>
                            <tr>
                                <th>创建时间： </th>
                                <td>{$vo.create_time}</td>
                            </tr>

                            <tr>
                                <th>最后登录IP： </th>
                                <td>{$vo.ip}</td>
                            </tr>
                            <tr>
                                <th>最后登录日期： </th>
                                <td>{$vo.last_login_time}</td>
                            </tr>
                            <tr>
                                <th>状态： </th>
                                <td>
                                    <if condition="$vo.state eq 0">
                                        未激活
                                        <elseif condition="$vo.state eq 1"/>
                                        已激活
                                        <elseif condition="$vo.state eq 2"/>
                                        已锁定
                                        <else />
                                        已解锁
                                    </if>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="space-4"></div>
                    </foreach>
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <div class="row">
                                <button class="btn" type="button" onclick="javascript:history.back()">返回</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</block>

<block name="public">

    <!-- inline scripts related to this page -->
    <script src="{$Think.const.ADMIN_URL}/js/admin.js"></script>

</block>