<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <block name="title">元认知干预技术网</block>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="{$Think.const.WEB_URL}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$Think.const.WEB_URL}/css/royalslider.css">
    <link rel="stylesheet" href="{$Think.const.WEB_URL}/css/skin-white.css">
    <link rel="stylesheet" href="{$Think.const.WEB_URL}/css/style.css">

</head>
<body>

<block name="header"><include file="./header" /></block>

<block name="content">主内容区</block>

<block name="footer"><include file="./footer" /></block>

<block name="public">底部公共加载</block>

</body>
</html>
