
<div class="footer">
    <p>
        <span>元认知心理干预技术</span>
        <span> Copyright © 2010, www.yrzgy.com, All rights reserved</span>
    </p>
    <p>
        <span>地址：大连市西岗区长江路570号金宸国际大厦321</span>
        <span>|</span>
        <span>联系电话：0411-83608340 13390021338 15998660373</span>
        <span>|</span>
        <span>邮编：116011</span>
    </p>
</div>


<!-- core js -->
<script src="{$Think.const.WEB_URL}/js/jquery.min.js"></script>
<script src="{$Think.const.WEB_URL}/js/jquery.royalslider.min.js"></script>
<script src="{$Think.const.WEB_URL}/js/bootstrap.min.js"></script>
<script src="{$Think.const.WEB_URL}/js/common.js"></script>
