<div class="box">
    <div class="Mtop">
        <span><a href="__MODULE__/Pic/lists">更多&gt;&gt;</a></span>
        <h2><img src="{$Think.const.WEB_URL}/images/ico_01.gif" class="ico"/> 图片故事</h2>
    </div>
    <div class="Mbody">
        <div class="photoStory">
            <div>
                <foreach name="story" item="vo">
                    <a href="__MODULE__/Pic/show/u/{$vo.pk}" target="_blank"><img src="{$Think.const.SITE_URL}/CDN/uploaded/story/{$vo.thumbnail}" /></a>
                    <span>{$vo.title}</span>
                </foreach>
            </div>
        </div>
    </div>
</div>
<div class="box">
    <div class="Mtop">
        <span><a href="__MODULE__/Article/article/cate/12">更多&gt;&gt;</a></span>
        <h2><img src="{$Think.const.WEB_URL}/images/ico_02.gif" class="ico" /> 研修生园地</h2>
    </div>
    <div class="Mbody">
        <ul class="list">
            <volist name="researcher" id="vo">
                <if condition="$vo.is_title_bold eq 1">
                    <li><a href="__MODULE__/Article/show/u/{$vo.pk}" style="color: {$vo.title_color};font-weight: bold;"><nobr>{$vo.title}</nobr></a></li>
                    <else />
                    <li><a href="__MODULE__/Article/show/u/{$vo.pk}" style="color: {$vo.title_color};"><nobr>{$vo.title}</nobr></a></li>
                </if>
            </volist>
        </ul>
    </div>
</div>
<div class="box">
    <div class="Mtop">
        <span><a href="__MODULE__/Article/article/cate/14">更多&gt;&gt;</a></span>
        <h2><img src="{$Think.const.WEB_URL}/images/ico_03.gif" class="ico" /> 专业委员会</h2>
    </div>
    <div class="Mbody">
        <ul class="list">
            <volist name="Committee" id="vo" offset="0" length='5'>
                <if condition="$vo.is_title_bold eq 1">
                    <li><a href="__MODULE__/Article/show/u/{$vo.pk}" style="color:{$vo.title_color};font-weight: bold;"><nobr>{$vo.title}</nobr></a></li>
                    <else />
                    <li><a href="__MODULE__/Article/show/u/{$vo.pk}" style="color:{$vo.title_color};"><nobr>{$vo.title}</nobr></a></li>
                </if>
            </volist>
        </ul>
    </div>
</div>

<div class="box">
    <div class="Mtop">
        <span><a href="__MODULE__/Vote/list">更多&gt;&gt;</a></span>
        <h2><img src="{$Think.const.WEB_URL}/images/ico_05.gif" class="ico" /> 投票</h2>
    </div>
    <div class="Mbody">
        <ul class="list">
            <volist name="vote_arr" id="vo">
                <li><a href="__MODULE__/Vote/show/u/{$vo.pk}" target="_blank"><nobr>{$vo.title}</nobr></a></li>
            </volist>
        </ul>
    </div>
</div>