
<div class="box">
    <div class="Mtop">
        <span><a href="__MODULE__/Video/showList">更多&gt;&gt;</a></span>
        <h2><img src="{$Think.const.WEB_URL}/images/ico_01.gif" class="ico" style="left:10px;"/> 详细课程</h2>
    </div>
    <div class="Mbody">
        <ul class="list">
            <volist name="videoLimit" id="vo">
                <if condition="$vo.is_title_bold eq 1">
                    <li><a href="__MODULE__/Video/show/u/{$vo.pk}" style="color:{$vo.title_color};font-weight: bold;"><nobr>{$vo.title}</nobr></a></li>
                    <else />
                    <li><a href="__MODULE__/Video/show/u/{$vo.pk}" style="color:{$vo.title_color};"><nobr>{$vo.title}</nobr></a></li>
                </if>
            </volist>
        </ul>
    </div>
</div>


<div class="box">
    <div class="Mtop">
        <span><a href="__MODULE__/Article/article/cate/22">更多&gt;&gt;</a></span>
        <h2><img src="{$Think.const.WEB_URL}/images/ico_01.gif" class="ico" style="left:10px;"/> 视频新闻</h2>
    </div>
    <div class="Mbody">
        <a href="__MODULE__/Article/show/u/{$vnews['pk']}" class="video-news"><i></i></a>
    </div>
</div>


<div class="box">
    <div class="Mtop">
        <span><a href="__MODULE__/Video/cateList">更多&gt;&gt;</a></span>
        <h2><img src="{$Think.const.WEB_URL}/images/ico_01.gif" class="ico" style="left:10px;"/> 最新课程</h2>
    </div>
    <div class="Mbody">
        <ul class="list">
            <volist name="video_category" id="vo">
                <li>
                    <a href="__MODULE__/Video/cate/u/{$vo.pk}"><nobr>{$vo.name}</nobr></a>
                </li>
            </volist>
        </ul>
    </div>
</div>