
<!-- basic scripts -->
<!--[if !IE]> -->
<script type="text/javascript">
    window.jQuery || document.write("<script src='{$Think.const.ADMIN_URL}/js/jquery-2.0.3.min.js'>"+"<"+"script>");
</script>
<!-- <![endif]-->
<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='{$Think.const.ADMIN_URL}/js/jquery-1.10.2.min.js'>"+"<"+"script>");
</script>
<![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='{$Think.const.ADMIN_URL}/js/jquery.mobile.custom.min.js'>"+"<"+"script>");
</script>
<script src="{$Think.const.ADMIN_URL}/js/bootstrap.min.js"></script>
<script src="{$Think.const.ADMIN_URL}/js/typeahead-bs2.min.js"></script>

<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
<script src="{$Think.const.ADMIN_URL}/js/excanvas.min.js"></script>
<![endif]-->

<script src="{$Think.const.ADMIN_URL}/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="{$Think.const.ADMIN_URL}/js/jquery.ui.touch-punch.min.js"></script>
<script src="{$Think.const.ADMIN_URL}/js/jquery.slimscroll.min.js"></script>
<script src="{$Think.const.ADMIN_URL}/js/jquery.easy-pie-chart.min.js"></script>
<script src="{$Think.const.ADMIN_URL}/js/jquery.sparkline.min.js"></script>
<script src="{$Think.const.ADMIN_URL}/js/flot/jquery.flot.min.js"></script>
<script src="{$Think.const.ADMIN_URL}/js/flot/jquery.flot.pie.min.js"></script>
<script src="{$Think.const.ADMIN_URL}/js/flot/jquery.flot.resize.min.js"></script>
<script src="{$Think.const.ADMIN_URL}/js/validator/bootstrapValidator.min.js"></script>
<script src="{$Think.const.ADMIN_URL}/js/validator/language/zh_CN.js"></script>
<!-- ace scripts -->

<script src="{$Think.const.ADMIN_URL}/js/ace-elements.min.js"></script>
<script src="{$Think.const.ADMIN_URL}/js/ace.min.js"></script>


