<a class="menu-toggler" id="menu-toggler" href="#">
    <span class="menu-text"></span>
</a>

<div class="sidebar" id="sidebar">
    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">


        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div><!-- #sidebar-shortcuts -->

    <ul class="nav nav-list">
        <li class="active">
            <a href="__MODULE__/Main/index">
                <i class="icon-dashboard"></i>
                <span class="menu-text"> 控制台 </span>
            </a>
        </li>
        <li>
            <a href="#" class="dropdown-toggle" data-pn="Cms">
                <i class="icon-cloud"></i>
                <span class="menu-text"> 内容管理 </span>
                <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
                <li data-pn="|introShow|introEdit|">
                    <a href="__MODULE__/Cms/introShow">
                        <i class="icon-double-angle-right"></i>
                        网站简介管理
                    </a>
                </li>
                <li data-pn="|articleList|articleAdd|articleEdit|articleShow|">
                    <a href="__MODULE__/Cms/articleList">
                        <i class="icon-double-angle-right"></i>
                        文章管理
                    </a>
                </li>
                <li data-pn="|archivesList|archivesAdd|archivesEdit|archivesShow|">
                    <a href="__MODULE__/Cms/archivesList">
                        <i class="icon-double-angle-right"></i>
                        研修生档案管理
                    </a>
                </li>
                <li data-pn="|personList|personAdd|personEdit|personShow|">
                    <a href="__MODULE__/Cms/personList">
                        <i class="icon-double-angle-right"></i>
                        技术团队管理
                    </a>
                </li>
                <li data-pn="|storyList|storyAdd|storyEdit|storyShow|">
                    <a href="__MODULE__/Cms/storyList">
                        <i class="icon-double-angle-right"></i>
                        图片故事管理
                    </a>
                </li>
                <li data-pn="|filesList|filesAdd|filesEdit|">
                    <a href="__MODULE__/Cms/filesList">
                        <i class="icon-double-angle-right"></i>
                        资料管理
                    </a>
                </li>
                <li data-pn="|voteList|voteAdd|voteEdit|voteShow|">
                    <a href="__MODULE__/Cms/voteList">
                        <i class="icon-double-angle-right"></i>
                        投票管理
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="dropdown-toggle" data-pn="Consult">
                <i class="icon-comment"></i>
                <span class="menu-text"> 视频咨询管理 </span>
                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
                <li data-pn="|orderList|orderShow|orderEdit|orderPay|">
                    <a href="__MODULE__/Consult/orderList">
                        <i class="icon-double-angle-right"></i>
                        预约视频咨询管理
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-double-angle-right"></i>
                        视频咨询分配管理
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-double-angle-right"></i>
                        视频咨询评价管理
                    </a>
                </li>
                <li data-pn="|teacherList|teacherShow|teacherAdd|teacherEdit|">
                    <a href="__MODULE__/Consult/teacherList">
                        <i class="icon-double-angle-right"></i>
                        咨询师管理
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-facetime-video"></i>
                <span class="menu-text"> 视频学习管理 </span>
                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
                <li>
                    <a href="#">
                        <i class="icon-double-angle-right"></i>
                        视频管理
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-double-angle-right"></i>
                        订单管理
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-double-angle-right"></i>
                        视频分配信息
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="dropdown-toggle" data-pn="Member">
                <i class="icon-user"></i>
                <span class="menu-text"> 会员管理 </span>
                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
                <li data-pn="|baseList|baseShow|baseSet|">
                    <a href="__MODULE__/Member/baseList">
                        <i class="icon-double-angle-right"></i>
                        会员基本信息
                    </a>
                </li>
                <li data-pn="|logInfo|">
                    <a href="__MODULE__/Member/logInfo">
                        <i class="icon-double-angle-right"></i>
                        会员登录信息
                    </a>
                </li>
                <li data-pn="|articleCommentList|articleCommentShow|">
                    <a href="__MODULE__/Member/articleCommentList">
                        <i class="icon-double-angle-right"></i>
                        文章评论管理
                    </a>
                </li>
                <li data-pn="|messageList|messageShow|">
                    <a href="__MODULE__/Member/messageList">
                        <i class="icon-double-angle-right"></i>
                        留言咨询管理
                    </a>
                </li>

            </ul>
        </li>
        <li>
            <a href="#" class="dropdown-toggle" data-pn="Cate">
                <i class="icon-folder-close"></i>
                <span class="menu-text"> 分类管理 </span>
                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
                <li data-pn="|modelList|modelAdd|modelEdit|">
                    <a href="__MODULE__/Cate/modelList">
                        <i class="icon-double-angle-right"></i>
                        网站分类管理
                    </a>
                </li>
                <li data-pn="|videoList|videoAdd|videoEdit|videoShow|">
                    <a href="__MODULE__/Cate/videoList">
                        <i class="icon-double-angle-right"></i>
                        视频分类管理
                    </a>
                </li>
                <li data-pn="|articleList|articleAdd|articleEdit|">
                    <a href="__MODULE__/Cate/articleList">
                        <i class="icon-double-angle-right"></i>
                        文章分类管理
                    </a>
                </li>
                <li data-pn="|archivesList|archivesAdd|archivesEdit|">
                    <a href="__MODULE__/Cate/archivesList">
                        <i class="icon-double-angle-right"></i>
                        研修生档案分类管理
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="dropdown-toggle" data-pn="Admin">
                <i class="icon-user-md"></i>
                <span class="menu-text"> 系统用户管理 </span>
                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
                <li data-pn="|userList|userAdd|userEdit|userShow|">
                    <a href="__MODULE__/Admin/userList">
                        <i class="icon-double-angle-right"></i>
                        系统用户列表
                    </a>
                </li>
                <li data-pn="|userLoginlist|">
                    <a href="__MODULE__/Admin/userLoginlist">
                        <i class="icon-double-angle-right"></i>
                        管理员登录信息
                    </a>
                </li>
                <li data-pn="|myself|">
                    <a href="__MODULE__/Admin/myself">
                        <i class="icon-double-angle-right"></i>
                        修改我的信息
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="dropdown-toggle" data-pn="Mail">
                <i class="icon-envelope"></i>
                <span class="menu-text"> 邮件管理 </span>
                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
                <li data-pn="|smtpList|smtpEdit|smtpAdd|">
                    <a href="__MODULE__/Mail/smtpList">
                        <i class="icon-double-angle-right"></i>
                        SMTP设置
                    </a>
                </li>
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--<i class="icon-double-angle-right"></i>-->
                        <!--邮件群发-->
                    <!--</a>-->
                <!--</li>-->
                <li data-pn="|historyList|historyShow|">
                    <a href="__MODULE__/Mail/historyList">
                        <i class="icon-double-angle-right"></i>
                        已发邮件列表
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="dropdown-toggle" data-pn="Setting">
                <i class="icon-cog"></i>
                <span class="menu-text"> 网站系统配置 </span>
                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
                <li data-pn="|bannerList|bannerShow|bannerEdit|bannerAdd|">
                    <a href="__MODULE__/Setting/bannerList">
                        <i class="icon-double-angle-right"></i>
                        banner图片管理
                    </a>
                </li>
                <li data-pn="|adList|adShow|adEdit|adAdd|">
                    <a href="__MODULE__/Setting/adList">
                        <i class="icon-double-angle-right"></i>
                        首页广告图片管理
                    </a>
                </li>
                <li data-pn="|modelImgShow|modelImgEdit|">
                    <a href="__MODULE__/Setting/modelImgShow">
                        <i class="icon-double-angle-right"></i>
                        首页模块图片管理
                    </a>
                </li>
                <li data-pn="|contactShow|contactEdit|">
                    <a href="__MODULE__/Setting/contactShow">
                        <i class="icon-double-angle-right"></i>
                        联系我们
                    </a>
                </li>
                <li data-pn="|serviceList|serviceEdit|serviceAdd|">
                    <a href="__MODULE__/Setting/serviceList">
                        <i class="icon-double-angle-right"></i>
                        客服信息
                    </a>
                </li>
                <li data-pn="|friendList|friendEdit|friendAdd|">
                    <a href="__MODULE__/Setting/friendList">
                        <i class="icon-double-angle-right"></i>
                        友情链接管理
                    </a>
                </li>
                <li data-pn="|misList|misEdit|misShow|">
                    <a href="__MODULE__/Setting/misList">
                        <i class="icon-double-angle-right"></i>
                        杂项列表
                    </a>
                </li>


            </ul>
        </li>

        <li class="special">
            <a href="#" target="_blank">
                <i class="icon-reply"></i>
                <span class="menu-text"> 官网首页 </span>
            </a>
        </li>



    </ul><!-- /.nav-list -->

    <div class="sidebar-collapse" id="sidebar-collapse">
        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
    </div>

    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
    </script>
</div>
