<extend name="./base" />
<block name="title"><title>修改 - 首页模块图片管理 - 网站系统配置 - 元认知干预网站管理后台系统</title></block>
<block name="content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#">首页</a>
            </li>
            <li class="active">网站系统配置</li>
        </ul><!-- .breadcrumb -->

    </div>

    <div class="page-content">
        <div class="page-header">
            <h1>
                首页模块图片管理
                <small>
                    <i class="icon-double-angle-right"></i>
                    修改
                </small>
            </h1>
        </div><!-- /.page-header -->
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal" id="myForm" method="post"  enctype="multipart/form-data" action="__SELF__">
                    <foreach name="info" item="vo" >
                        <input type="hidden" name="pk" value="{$vo.pk}">


                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right"> <span class="red">*</span>模块图片： </label>
                            <div class="col-sm-5">
                                <div>
                                    <img src="__ROOT__/CDN/uploaded/ads/{$vo.img_path}">
                                </div>
                                <input type="file" id="id-input-file-2" name="img_path" />
                                <span class="red">最佳效果尺寸： 80*97px.</span>
                            </div>
                        </div>


                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">链接地址： </label>
                            <div class="col-sm-5">
                                <input placeholder="请输入超链接" class="form-control" type="text" name="link" value="{$vo.link}" >
                            </div>
                        </div>

                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right"> 描述： </label>
                            <div class="col-sm-5">
                                <textarea class="autosize-transition form-control" style="height: 120px;" name="img_describe">{$vo.img_describe}</textarea>
                            </div>
                        </div>

                        <div class="space-4"></div>
                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <div class="row">
                                    <button class="btn btn-info b-submit" type="submit">
                                        <i class="icon-ok bigger-110"></i>
                                        提交
                                    </button>
                                    <button class="btn" type="button" onclick="javascript:history.back()">返回</button>
                                </div>
                            </div>
                        </div>
                    </foreach>
                </form>
            </div>
        </div>

    </div>
</block>

<block name="public">

    <!-- inline scripts related to this page -->

    <script src="{$Think.const.ADMIN_URL}/uploadify/jquery.uploadify.js"></script>
    <script src="{$Think.const.ADMIN_URL}/js/admin.js"></script>
    <script type="text/javascript">
        $(function(){


            $('#myForm').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    img_describe: {
                        validators: {
                            stringLength: {
                                min: 0,
                                max: 200,
                                message: '描述内容长度必须在0到200之间'
                            }
                        }
                    },
                    link: {
                        validators: {
                            stringLength: {
                                min: 0,
                                max: 100,
                                message: '链接长度必须在0到100之间'
                            }
                        }
                    }


                },
                submitHandler: function(validator, form, submitButton) {
                    // a)
                    // Use Ajax to submit form data
                    //$.post(form.attr('action'), form.serialize(), function(result) {
                    // ... process the result ...
                    //}, 'json');

                    //b)
                    // Do your task
                    // ...
                    // Submit the form
                    validator.defaultSubmit();
                }

            });
        })
    </script>
</block>