<extend name="./base" />
<block name="title">
    <title>详细资料 - 个人中心 - 元认知心理干预技术网</title>
    <meta name="keywords" content="元认知,元认知干预，元认知心理，元认知心理干预，元认知心理干预技术，金洪源"/>
    <meta name="description" content="元认知研究所由金洪源教授任所长，面向全国提供心理技术服务，解决学生偏科、厌学、马虎、考试焦虑、拖延等学习障碍问题；改善人际关系，解决亲子、家庭问题；提供失眠、焦虑、强迫、抑郁等辅助性干预；优化性格系统。主要业务：个体咨询、团体辅导、技术培训、进驻学校推进心理健康技术化改革。下设临床服务部、研修生部、驻校服务部、中小学教研部、技术研发与培训部。"/>
</block>

<block name="content">


<div class="container i-container">
    <div class="Statu">您的位置：<a href="{$Think.const.SITE_URL}">首页</a> &gt;&gt; <a href="__MODULE__/Member/main">个人中心</a>  &gt;&gt; 详细资料</div>
</div>

<div class="container i-container">
    <div class="MCenter clearfix">
        <div class="row">
            <div class="col-sm-3">
                <div class="MCleft">
                    <include file="./member_left" />
                </div>
            </div>

            <div class=" col-sm-9">
                <div class="MCmain">
                    <table id="basicT" class="MCtable">
                        <colgroup width="100px"></colgroup>
                        <colgroup width=""></colgroup>
                        <tbody><tr>
                            <th>地址:</th>
                            <td>{$info.address}</td>
                        </tr>
                        <tr>
                            <th>单位:</th>
                            <td>{$info.organization}</td>
                        </tr>
                        <tr>
                            <th>出生日期:</th>
                            <td>{$info.birthday}</td>
                        </tr>
                        <tr>
                            <th>MSN:</th>
                            <td>
                                {$info.msn}
                            </td>
                        </tr>
                        <tr>
                            <th>QQ:</th>
                            <td>{$info.qq}</td>
                        </tr>
                        <tr>
                            <th>个人简介:</th>
                            <td>{$info.summary}</td>
                        </tr>
                        <tr>
                            <th>照片:</th>
                            <td>
                                <div style="max-width: 300px;">
                                    <if condition="$info.avatar neq null">
                                        <img src="{$Think.const.UPLOAD_URL}/member/{$info.avatar}">
                                    </if>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>身份证:</th>
                            <td>
                                <div style="max-width: 300px;">
                                    <if condition="$info.identity_card neq null">
                                        <img src="{$Think.const.UPLOAD_URL}/member/{$info.identity_card}">
                                    </if>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>资质证明:</th>
                            <td>
                                <div style="max-width: 300px;">
                                    <if condition="$info.certification neq null">
                                        <img src="{$Think.const.UPLOAD_URL}/member/{$info.certification}">
                                    </if>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th></th>
                            <td class="MCbtn">
                                <a href="__MODULE__/Member/detailEdit" class="a-btn">修改详细资料</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


</block>


<block name="public">
    <script>
        //导航位置
        var module = "Member";
        var pnArr = window.location.pathname.split("/");
        var pnArrNumber = $.inArray(module,pnArr);
        $(".MCleft li").each(function () {
            if (!!$(this).attr("data-pn") && $(this).attr("data-pn").indexOf("|"+pnArr[pnArrNumber+1]+"|") >= 0){
                $(this).addClass("checked");
            }
        })
    </script>

</block>
