<extend name="./base" />
<block name="title">
    <title>个人中心 - 元认知心理干预技术网</title>
    <meta name="keywords" content="元认知,元认知干预，元认知心理，元认知心理干预，元认知心理干预技术，金洪源"/>
    <meta name="description" content="元认知研究所由金洪源教授任所长，面向全国提供心理技术服务，解决学生偏科、厌学、马虎、考试焦虑、拖延等学习障碍问题；改善人际关系，解决亲子、家庭问题；提供失眠、焦虑、强迫、抑郁等辅助性干预；优化性格系统。主要业务：个体咨询、团体辅导、技术培训、进驻学校推进心理健康技术化改革。下设临床服务部、研修生部、驻校服务部、中小学教研部、技术研发与培训部。"/>
</block>

<block name="content">


<div class="container i-container">
    <div class="Statu">您的位置：<a href="{$Think.const.SITE_URL}">首页</a> &gt;&gt; 个人中心</div>
</div>

<div class="container i-container">
    <div class="MCenter clearfix">
        <div class="row">
            <div class="col-sm-3">
                <div class="MCleft">
                    <ul>
                        <li class="checked"><a href="#">基本资料</a></li>
                        <li><a href="#">详细资料</a></li>
                        <li><a href="#">修改密码</a></li>
                        <li><a href="#">我的订单</a></li>
                        <li><a href="#">我的课程</a></li>
                        <li><a href="#">我的留言咨询</a></li>
                        <li><a href="#">我的视频咨询</a></li>
                    </ul>
                </div>
            </div>

            <div class=" col-sm-9">
                <div class="MCmain">
                    <table id="basicT" class="MCtable">
                        <colgroup width="100px"></colgroup>
                        <colgroup width=""></colgroup>
                        <tbody><tr>
                            <th>用户名:</th>
                            <td>guangxu1202</td>
                        </tr>
                        <tr>
                            <th>昵称:</th>
                            <td>jam</td>
                        </tr>
                        <tr>
                            <th>真实姓名:</th>
                            <td>穆峰</td>
                        </tr>
                        <tr>
                            <th>性别:</th>
                            <td>男</td>
                        </tr>
                        <tr>
                            <th>手机:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>固定电话:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>E-mail:</th>
                            <td>1005501705@qq.com</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td class="MCbtn">
                                <a href="#" class="a-btn">修改基本资料</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


</block>


<block name="public">


</block>
