<extend name="./base" />
<block name="title">
    <title>基本资料 - 个人中心 - 元认知心理干预技术网</title>
    <meta name="keywords" content="{$Think.config.KEYWORDS}"/>
    <meta name="description" content="{$Think.config.DESCRIPTION}"/>
</block>

<block name="content">


<div class="container i-container">
    <div class="Statu">您的位置：<a href="{$Think.const.SITE_URL}">首页</a> &gt;&gt; <a href="__MODULE__/Member/main">个人中心</a>  &gt;&gt; 基本资料</div>
</div>

<div class="container i-container">
    <div class="MCenter clearfix">
        <div class="row">
            <div class="col-sm-3">
                <div class="MCleft">
                    <include file="./member_left" />
                </div>
            </div>

            <div class=" col-sm-9">
                <div class="MCmain">
                    <table id="basicT" class="MCtable">
                        <colgroup width="100px"></colgroup>
                        <colgroup width=""></colgroup>
                        <tbody><tr>
                            <th>用户名:</th>
                            <td>{$info.username}</td>
                        </tr>
                        <tr>
                            <th>昵称:</th>
                            <td>{$info.nickname}</td>
                        </tr>
                        <tr>
                            <th>真实姓名:</th>
                            <td>{$info.real_name}</td>
                        </tr>
                        <tr>
                            <th>性别:</th>
                            <td>
                                <if condition="$info.gender eq 0">
                                    男
                                    <elseif condition="$vo.gender eq 1"/>
                                    女
                                    <else/>
                                    保密
                                </if>
                            </td>
                        </tr>
                        <tr>
                            <th>手机:</th>
                            <td>{$info.mobile}</td>
                        </tr>
                        <tr>
                            <th>固定电话:</th>
                            <td>{$info.telephone}</td>
                        </tr>
                        <tr>
                            <th>E-mail:</th>
                            <td>{$info.email}</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td class="MCbtn">
                                <a href="__MODULE__/Member/baseEdit" class="a-btn">修改基本资料</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


</block>


<block name="public">
    <script>
        //导航位置
        var module = "Member";
        var pnArr = window.location.pathname.split("/");
        var pnArrNumber = $.inArray(module,pnArr);
        $(".MCleft li").each(function () {
            if (!!$(this).attr("data-pn") && $(this).attr("data-pn").indexOf("|"+pnArr[pnArrNumber+1]+"|") >= 0){
                $(this).addClass("checked");
            }
        })
    </script>

</block>
